// node middleware needs this exact filename, not sure why

// common
@import 'common/variables';
@import 'common/base';
@import 'common/mq';
@import 'common/mq-debugger';
@import 'common/header';
@import 'common/footer';
@import 'common/filepond';

@import 'pages/index';
@import 'pages/doodle';
@import 'pages/vision';
@import 'pages/text';
@import 'pages/common/examples';
@import 'pages/common/classifiers';
