<footer class="footer">
    <div class="footer__illustration-wrapper">
        <!-- 
            Rasterized and extracted the photos from SVG
            as linked images, to decrease the file size.

            <img> element blocks the display of SVG linked images.
            We can use <embed> element instead.
            https://stackoverflow.com/questions/41195669/images-in-svg-image-tags-not-showing-up-in-chrome-but-displays-locally -->
        <embed class="footer__illustration-image" src="images/website-banner-svg/website-banner.svg">
    </div>
    <div class="footer__content">
        <div class="footer__project-info">
            <span class="footer__text">Cognimates is a project started at </span>
            <a class="footer__logo-image-link" 
                href="https://www.media.mit.edu/" 
                target="_blank">
                <img class="footer__logo-image" 
                    alt="MIT Media Lab logo" 
                    src='images/social/mit-media-lab--white.svg'>
            </a>
        </div>
        <div class="footer__social-icons">
            <a href="https://twitter.com/cognimates" target="_blank">
                <img src="/images/social/twitter--white.svg" class="footer__social-icon">
            </a>
            <a href="https://www.instagram.com/cognimates/" target="_blank">
                <img src="/images/social/instagram--white.svg" class="footer__social-icon">
            </a>
            <a href="https://vimeo.com/user84996108" target="_blank">
                <img src="/images/social/vimeo--white.svg" class="footer__social-icon">
            </a>
            <a href="https://www.facebook.com/cognimates/" target="_blank">
                <img src="/images/social/facebook--white.svg" class="footer__social-icon">
            </a>
        </div>
    </div>
</footer>
