<header class="header">
    <nav class="header__nav">
      <a class="header__logo-link" href="/">
        <img 
            src='images/cognimates-logo--codelab.svg'
            class="header__logo-image"
            alt="Cognimates logo" />
      </a>

       <a href="/vision_home"
          id="backButton"
          class="header__nav-item ">
        Vision Training
      </a>

       <a href="text_home"
          id="backButton"
          class="header__nav-item ">
        Text Training
      </a>
    </nav>

    <nav class="header__sub-nav">
        <a href='http://cognimates.slack.com'
            class="header__sub-nav-item">
            Developers
        </a>
    <nav>
</header>

