<header class="header">
    <nav class="header__nav">
      <a class="header__logo-link" href="/">
        <img 
            src='images/cognimates-logo--codelab.svg'
            class="header__logo-image"
            alt="Cognimates logo" />
      </a>

       <a href="/vision_home"
          id="backButton"
          class="header__nav-item ">
        Vision Training
      </a>

       <a href="text_home"
          id="backButton"
          class="header__nav-item ">
        Text Training
      </a>
      <a href='https://github.com/mitmedialab/cognimates-training'
            class="header__nav-item ">
            Open Source
        </a>
        <a href='https://forms.gle/r1oLbYGz2RvJcwzN7'
            class="header__nav-item ">
            Help translate this page
        </a>
    </nav>
</header>

