<ul class="stepper">

    <li class="stepper__step">
        <span class="step__number">1</span>
        <div class="step__circle">
            <i></i>
        </div>
        <div class="step__body">
            <h2 class="step__title">What are your {{ serviceName }} keys?
                <a href="#" class="step__help-open-button 
                                    js--open-help" role="button">
                    <i class="fas fa-question-circle"></i>
                </a>
            </h2>

            <div class="step__description">
                <form class="category__new-form-container">
                    <div class="category__new-form-group">
                        <input type="text"
                            class="form-control
                                   no-radius--right
                                   step__form-text
                                   js--Rapikey__input"
                            aria-describedby=""
                            placeholder="Paste Read API Key here">
                         <button class="category__button--create
                                        d-inline-block
                                        btn
                                        btn-primary
                                        no-radius--left
                                        js--Rapikey__input--set"
                                type="button">
                                Set Key
                            </button>
                        <span class="step__description-secondary"></span>
                    </div>
                </form>

                <form class="category__new-form-container">
                    <div class="category__new-form-group">
                        <input type="text"
                            class="form-control
                                   no-radius--right
                                   step__form-text
                                   js--apikey__input"
                            aria-describedby=""
                            placeholder="Paste Write API Key here">
                         <button class="category__button--create
                                        d-inline-block
                                        btn
                                        btn-primary
                                        no-radius--left
                                        js--apikey__input--set"
                                type="button">
                                Set Key
                            </button>
                        <span class="step__description-secondary"></span>
                    </div>
                </form>

                <form class="category__new-form-container">
                    <div class="category__new-form-group">
                        <input type="text"
                            class="form-control
                                   no-radius--right
                                   step__form-text
                                   js--apikey__input"
                            aria-describedby=""
                            placeholder="Paste Username here">
                         <button class="category__button--create
                                        d-inline-block
                                        btn
                                        btn-primary
                                        no-radius--left
                                        js--apikey__input--set"
                                type="button">
                                Set Username
                            </button>
                        <span class="step__description-secondary"></span>
                    </div>
                </form>
              <a href="{{ howToGuide }}" class="step__link--get-key" target="_blank" >
                     How to get guide
               </a>
               <a href="{{ serviceUrl }}" class="step__link step__link--get-key" target="_blank" >
                     Sign up and get keys
               </a>
               <div class="step__help
                          step__help--keys">
                  <div class="step__help-info-detail">
                      <div class="plyr__video-embed" id="js-classifier__video--clarifai">
                          <iframe src="https://www.youtube.com/embed/YOrrROME2zc"
                                  frameborder="0"
                                  allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                          </iframe>
                      </div>
                  </div>
               </div>
            </div>
        </div>
    </li>

    <li class="stepper__step">
        <span class="step__number">2</span>
        <div class="step__circle">
            <i></i>
        </div>
        <div class="step__body">
            <h2 class="step__title">Paste the name of an existing project
                {{!-- <a href="#" class="step__help-open-button 
                                    js--open-help" role="button">
                    <i class="fas fa-question-circle"></i>
                </a> --}}
            </h2>

            <div class="step__description">
                {{!-- <div class="step__help">
                   <span>These are projects you have already trained. Unfortunately these cannot be modified once they are created.
                    </span>
                   
                </div> --}}
                 <form class="category__new-form-container">
                            <div class="category__new-form-group">
                                <input type="text"
                                    class="form-control
                                            no-radius--right
                                            step__form-text"
                                    id="input_categoryName"
                                    aria-describedby=""
                                    placeholder="Emotions">
                                <button class="category__button--create
                                                d-inline-block
                                                btn
                                                btn-primary
                                                no-radius--left"
                                        id="button_categoryName"
                                        type="button">
                                        Select Project
                                    </button>
                                <span class="step__description-secondary"></span>
                            </div>
                 </form>
            </div>
        </div>
    </li>

    <li class="stepper__step">
        <span class="step__number">3</span>
        <div class="step__circle">
            <i></i>
        </div>
        <div class="step__body">
            <h2 class="step__title">Type in a phrase to test your model</h2>
            <div class="step__description">

                <div class="category__container">
                     <form class="category__new-form-container">
                            <div class="category__new-form-group">
                                <input type="text"
                                    class="form-control
                                            no-radius--right
                                            step__form-text"
                                    id="input_categoryName"
                                    aria-describedby=""
                                    placeholder="Happy">
                                <button class="category__button--create
                                                d-inline-block
                                                btn
                                                btn-primary
                                                no-radius--left"
                                        id="button_categoryName"
                                        type="button">
                                        Predict
                                    </button>
                                <span class="step__description-secondary"></span>
                            </div>
                     </form>
                </div>

                <button class="btn btn-primary"
                    type="button">
                    Predict
                </button>
            </div>
        </div>
    </li>

    <li class="stepper__step">
        <span class="step__number">4</span>
        <div class="step__circle">
            <i></i>
        </div>
        <div class="step__body">
            <h2 class="step__title">
                <button class="btn btn-primary"
                        type="button">
                        Play
                    </button>
                 with the model in Codelab
            </h2>
            <div class="step__description">
                
            </div>
        </div>
    </li>
</ul>
