<ul class="stepper">
    <li class="stepper__step">
        <span class="step__number">1</span>
        <div class="step__circle">
            <i></i><!-- no dom here, gets made by css -->
        </div>
        <div class="step__body">
            <h2 class="step__title">What is your project name?</h2>
            <div class="step__form-with-button" id="set__username__input">
                <input type="text"
                        class="form-control
                               step__form-text
                               no-radius--right"
                        id="input_projectName"
                        onkeydown="return (event.keyCode!=13);"
                        autocomplete="off"
                        aria-describedby=""
                        placeholder="Happy vs. Sad">
                <button class="button--create
                                d-inline-block
                                btn
                                btn-primary
                                no-radius--left"
                        type="button" id="button_set_project_name">
                        Set
                </button>
            </div>
            <div class="project-name__result-row" id='project-name__show' style="display: none;">
                <span class="project-name__value" id="project-name__value__result">Happy vs. Sad</span>
                <a href="#" class="project-name__remove-button
                                    btn btn-primary"
                            role="button">
                    <i class="fas fa-times"></i>
                </a>
            </div>
        </div>
    </li>

    <li class="stepper__step">
        <span class="step__number">2</span>
        <div class="step__circle">
            <i></i>
        </div>
        <div class="step__body">
            <h2 class="step__title">What are your {{ serviceName }} keys?
            </h2>
            <div class="step__form-with-button" id="set_read_api">
                <input type="text"
                    class="form-control
                           no-radius--right
                           step__form-text
                           js--Rapikey__input"
                    aria-describedby=""
                    placeholder="Paste Read API Key here">
            </div>

            <div class="step__form-with-button" id="set_write_api">
                <input type="text"
                    class="form-control
                           no-radius--right
                           step__form-text
                           js--Wapikey__input"
                    aria-describedby=""
                    placeholder="Paste Write API Key here">
            </div>

            <div class="step__form-with-button" id="set_username__Form">
                <input type="text"
                    class="form-control
                           no-radius--right
                           step__form-text
                           js--username__input"
                    aria-describedby=""
                    placeholder="Paste Username here">
            </div>
            <div class="api-key__result-row" style="display: none;" id="Rapikey__show">
                <span class="api-key__value" id="js--Rapikey__result">8c529910925e45c3932343e56cf58</span>
            </div>
            <div class="api-key__result-row" style="display: none;" id="Wapikey__show">
                <span class="api-key__value" id="js--Wapikey__result">8c529910925e45c3932343e56cf58</span>
            </div>
            <div class="api-key__result-row" style="display: none;" id="username__show">
                <span class="api-key__value" id="js--username__result">unicorn5432</span>
            </div>
            <button class="btn btn-primary button--train
                               js--Wapikey__input--set js--Rapikey__input--set
                               js--username__input--set"
                        type="button">
                     Set Credentials
            </button>

            <a href="{{ howToGuide }}" class="step__link step__link--get-key" target="_blank" >
                   How-to guide
             </a>
             <a href="{{ serviceUrl }}" class="step__link step__link--get-key" target="_blank" >
                   Sign up &amp; get keys
             </a>
            <div class="step__help
                        step__help--keys">
                <div class="plyr__video-embed" id="js-classifier__video--clarifai">
                    <iframe src="https://www.youtube.com/embed/YOrrROME2zc"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                    </iframe>
                </div>
             </div>
        </div>
    </li>

    <li class="stepper__step">
        <span class="step__number">3</span>
        <div class="step__circle">
            <i></i>
        </div>
        <div class="step__body">
            <h2 class="step__title">What categories should your model have?
                <a href="#" class="step__help-open-button
                                    js--open-help" role="button">
                    <i class="fas fa-question-circle"></i>
                </a>
            </h2>
            <div class="step__help">
               <span>Categories are groups of things your model wil try to tell the difference between.
               Remember, it can only learn what you give it! </span>
                <ul>
                    <li><b>animals,</b>like <span> cats vs dogs</span></li>
                    <li><b>objects</b>, like <span> cups vs jars</span></li>
                    <li><b>expressions</b>, like <span> happy vs sad</span></li>
                </ul>
            </div>
            <div id="categoriesContainer"></div>
            {{!-- <input type="text" class="category__tag-select-container">  --}}
            <div class="step__form-with-button">
                <input type="text"
                    class="form-control
                            no-radius--right
                            step__form-text"
                    id="input_categoryName"
                    aria-describedby=""
                    placeholder="Happy">
                <button class="button--create
                                d-inline-block
                                btn
                                btn-primary
                                no-radius--left"
                        id="button_categoryName"
                        type="button">
                    Add Category
                </button>
            </div>
        </div>
    </li>

    <li class="stepper__step">
        <span class="step__number">4</span>
        <div class="step__circle">
            <i></i>
        </div>
        <div class="step__body">
            <h2 class="step__title">
                <button class="btn btn-primary button--train
                               js--train__button"
                        type="button">
                    <span id="span_train" role="status"
                            aria-hidden="true"></span>
                    <span id="span_train_status">
                     Train Model
                   </span>
                </button>
            </h2>
            <div class="classifier__results">
                <div class="results__upload-progress
                            js--train-results__upload_progress">
                    Uploading: 
                    <span class="js--train-results__upload__progress--set"><span>
                </div>
                <div class="results__name 
                            js--train-results__name">
                    <span class="results__name-label">Model Name: </span>
                    <span class="results__name-value
                                js--train-results__name--set">Cats vs. Dogs</span>
                </div>
                <div class="results__status
                            js--train-results__status">
                    <span class="results__status-label">Model Status: </span> 
                    <span class="results__status-value
                                 js--train-results__status--set">Model not ready</span>
                </div>
                <div class="spinner-grow 
                            js--train-results__status_spinner" 
                      style="display:none"
                      role="status">
                    <span class="sr-only"></span>
                </div>
            </div>
        </div>
    </li>

    <li class="stepper__step">
        <span class="step__number">5</span>
        <div class="step__circle">
            <i></i>
        </div>
        <div class="step__body">
            <h2 class="step__title">Type in a phrase to test your model</h2>
            <div class="step__form-with-button">
                <input type="text"
                    class="form-control
                            no-radius--right
                            step__form-text"
                    id="input_predictText"
                    aria-describedby=""
                    placeholder="I had a good day!">
                <button class="button--create
                                d-inline-block
                                btn
                                btn-primary
                                no-radius--left"
                        id="button_predictText"
                        type="button">
                    Predict
                </button>
            </div>
            <div class="classifier__results">
                <div class="results__name 
                            js--predict-results__name">
                    <span class="results__name-label">Confidence score:</span>
                    <span class="results__name-value">85.02%</span>
                </div>
                <div class="spinner-grow 
                            js--predict-results__status_spinner" 
                      style="display:none"
                      role="status">
                    <span class="sr-only"></span>
                </div>
            </div>
        </div>
    </li>

    <li class="stepper__step">
        <span class="step__number">6</span>
        <div class="step__circle">
            <i></i>
        </div>
        <div class="step__body">
            <h2 class="step__title">
                 Play with the model in Codelab
            </h2>
            <button class="btn 
                            btn-primary 
                            button--play
                            js--classifier__open__codelab"
                    type="button ">
                    Go!
            </button>
        </div>
    </li>
</ul>

