<ul class="stepper">

    <li class="stepper__step">
        <span class="step__number">1</span>
        <div class="step__circle">
            <i></i>
        </div>
        <div class="step__body">
            <h2 class="step__title">What are your {{ serviceName }} keys?
                <a href="#" class="step__help-open-button 
                                    js--open-help" role="button">
                    <i class="fas fa-question-circle"></i>
                </a>
            </h2>

            <div>
                <div class="step__form-with-button">
                    <input type="text"
                        class="form-control
                               no-radius--right
                               step__form-text
                               js--explore__Rapikey__input"
                        aria-describedby=""
                        placeholder="Paste Read API Key here">
                     <button class="category__button--create
                                    d-inline-block
                                    btn
                                    btn-primary
                                    no-radius--left
                                    js--explore__Rapikey__input--set"
                            type="button">
                        Set Key
                    </button>
                </div>

                <div class="step__form-with-button">
                    <input type="text"
                        class="form-control
                               no-radius--right
                               step__form-text
                               js--explore__Wapikey__input"
                        aria-describedby=""
                        placeholder="Paste Write API Key here">
                     <button class="category__button--create
                                    d-inline-block
                                    btn
                                    btn-primary
                                    no-radius--left
                                    js--explore__Wapikey__input--set"
                            type="button">
                        Set Key
                    </button>
                </div>

                <div class="step__form-with-button">
                    <input type="text"
                        class="form-control
                               no-radius--right
                               step__form-text
                               js--explore__username__input"
                        aria-describedby=""
                        placeholder="Paste Username here">
                     <button class="category__button--create
                                    d-inline-block
                                    btn
                                    btn-primary
                                    no-radius--left
                                    js--explore__username__input--set"
                            type="button">
                        Set Username
                    </button>
                </div>
              <a href="{{ howToGuide }}" class="step__link step__link--get-key" target="_blank" >
                     How-to guide
               </a>
               <a href="{{ serviceUrl }}" class="step__link step__link--get-key" target="_blank" >
                     Sign up &amp; get keys
               </a>
               <div class="step__help
                          step__help--keys">
                  <div class="plyr__video-embed" id="js-classifier__video--clarifai">
                      <iframe src="https://www.youtube.com/embed/YOrrROME2zc"
                              frameborder="0"
                              allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                      </iframe>
                  </div>
               </div>
            </div>
        </div>
    </li>

    <li class="stepper__step">
        <span class="step__number">2</span>
        <div class="step__circle">
            <i></i>
        </div>
        <div class="step__body">
            <h2 class="step__title">Paste the name of an existing project
                {{!-- <a href="#" class="step__help-open-button 
                                    js--open-help" role="button">
                    <i class="fas fa-question-circle"></i>
                </a> --}}
            </h2>

            <div>
                {{!-- <div class="step__help">
                   <span>These are projects you have already trained. Unfortunately these cannot be modified once they are created.
                    </span>
                   
                </div> --}}
                <div class="step__form-with-button">
                    <input type="text"
                        class="form-control
                                no-radius--right
                                step__form-text"
                        id="input_exploreProjectName"
                        aria-describedby=""
                        placeholder="Happy vs. Sad">
                    <button class="category__button--create
                                    d-inline-block
                                    btn
                                    btn-primary
                                    no-radius--left"
                            id="button_exploreProjectName"
                            type="button">
                        Select Project
                    </button>
                </div>
            </div>
        </div>
    </li>

    <li class="stepper__step">
        <span class="step__number">3</span>
        <div class="step__circle">
            <i></i>
        </div>
        <div class="step__body">
            <h2 class="step__title">Type in a phrase to test your model</h2>
            <div class="category__container">
                <div class="step__form-with-button">
                    <input type="text"
                        class="form-control
                                no-radius--right
                                step__form-text"
                        id="input_explore_predictText"
                        aria-describedby=""
                        placeholder="I had a good day!">
                    <button class="category__button--create
                                    d-inline-block
                                    btn
                                    btn-primary
                                    no-radius--left"
                            id="button_explore_predictText"
                            type="button">
                        Predict
                    </button>
                </div>
            </div>
        </div>
    </li>

    <li class="stepper__step">
        <span class="step__number">4</span>
        <div class="step__circle">
            <i></i>
        </div>
        <div class="step__body">
            <h2 class="step__title">
                <button class="btn btn-primary"
                        type="button">
                        Play
                    </button>
                 with the model in Codelab
            </h2>
        </div>
    </li>
</ul>
