<ul class="stepper">
    <li class="stepper__step">
        <span class="step__number">1</span>
        <div class="step__circle">
            <i></i><!-- no dom here, gets made by css -->
        </div>
        <div class="step__body">
            <h2 class="step__title">What is your project name?</h2>
            <div class="step__form-with-button">
                <input type="text"
                    class="form-control
                           step__form-text"
                    id="input_projectName"
                    onkeydown="return (event.keyCode!=13);"
                    autocomplete="off"
                    aria-describedby=""
                    placeholder="Happy vs. Sad">
            </div>
        </div>
    </li>

    <li class="stepper__step">
        <span class="step__number">2</span>
        <div class="step__circle">
            <i></i>
        </div>
        <div class="step__body">
            <h2 class="step__title">What are your {{ serviceName }} keys?
                {{!-- <a href="#" class="step__help-open-button
                                    js--open-help" role="button">
                    <i class="fas fa-question-circle"></i>
                </a> --}}
            </h2>
            <div class="step__form-with-button">
                <input type="text"
                    class="form-control
                           no-radius--right
                           step__form-text
                           js--Rapikey__input"
                    aria-describedby=""
                    placeholder="Paste Read API Key here">
                 <button class="category__button--create
                                d-inline-block
                                btn
                                btn-primary
                                no-radius--left
                                js--Rapikey__input--set"
                        type="button">
                    Set Key
                </button>
            </div>

            <div class="step__form-with-button">
                <input type="text"
                    class="form-control
                           no-radius--right
                           step__form-text
                           js--Wapikey__input"
                    aria-describedby=""
                    placeholder="Paste Write API Key here">
                 <button class="category__button--create
                                d-inline-block
                                btn
                                btn-primary
                                no-radius--left
                                js--Wapikey__input--set"
                        type="button">
                    Set Key
                </button>
            </div>

            <div class="step__form-with-button">
                <input type="text"
                    class="form-control
                           no-radius--right
                           step__form-text
                           js--username__input"
                    aria-describedby=""
                    placeholder="Paste Username here">
                 <button class="category__button--create
                                d-inline-block
                                btn
                                btn-primary
                                no-radius--left
                                js--username__input--set"
                        type="button">
                    Set Username
                </button>
            </div>

            <a href="{{ howToGuide }}" class="step__link step__link--get-key" target="_blank" >
                   How-to guide
             </a>
             <a href="{{ serviceUrl }}" class="step__link step__link--get-key" target="_blank" >
                   Sign up &amp; get keys
             </a>
            <div class="step__help
                        step__help--keys">
                <div class="plyr__video-embed" id="js-classifier__video--clarifai">
                    <iframe src="https://www.youtube.com/embed/YOrrROME2zc"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                    </iframe>
                </div>
             </div>
        </div>
    </li>

    <li class="stepper__step">
        <span class="step__number">3</span>
        <div class="step__circle">
            <i></i>
        </div>
        <div class="step__body">
            <h2 class="step__title">What categories should your model have?
                <a href="#" class="step__help-open-button
                                    js--open-help" role="button">
                    <i class="fas fa-question-circle"></i>
                </a>
            </h2>
            <div class="step__help">
               <span>Categories are groups of things your model wil try to tell the difference between.
               Remember, it can only learn what you give it! </span>
                <ul>
                    <li><b>animals,</b>like <span> cats vs dogs</span></li>
                    <li><b>objects</b>, like <span> cups vs jars</span></li>
                    <li><b>expressions</b>, like <span> happy vs sad</span></li>
                </ul>
            </div>
            <div id="categoriesContainer"></div>
            {{!-- <input type="text" class="category__tag-select-container">  --}}
            <div class="step__form-with-button">
                <input type="text"
                    class="form-control
                            no-radius--right
                            step__form-text"
                    id="input_categoryName"
                    aria-describedby=""
                    placeholder="Happy">
                <button class="category__button--create
                                d-inline-block
                                btn
                                btn-primary
                                no-radius--left"
                        id="button_categoryName"
                        type="button">
                    Add Category
                </button>
            </div>
        </div>
    </li>

    <li class="stepper__step">
        <span class="step__number">4</span>
        <div class="step__circle">
            <i></i>
        </div>
        <div class="step__body">
            <h2 class="step__title">
                <button class="btn btn-primary button--train
                               js--train__button"
                        type="button">
                    <span id="span_train" role="status"
                            aria-hidden="true"></span>
                    <span id="span_train_status">
                     Train Model
                   </span>
                </button>
            </h2>
            <div>
                <h5 class="js--classifier__upload_progress" style="display:none">Uploading: <span class="js--classifier__upload__progress--set"><span></h5>
                <h5 class="js--classifier__name" style="display:none">Classifier Name: <span class="js--classifier__name--set">Cats vs. Dogs<span></h5>
                <h5 class="js--classifier__status" style="display:none">Classifier Status: <span class="js--classifier__status--set">Model not ready<span></h5>
                <i class="fas fa-spinner fa-spin
                          js--classifier__status_spinner" style="display:none"></i>
            </div>
        </div>
    </li>

    <li class="stepper__step">
        <span class="step__number">5</span>
        <div class="step__circle">
            <i></i>
        </div>
        <div class="step__body">
            <h2 class="step__title">Type in a phrase to test your model</h2>
            <div class="step__form-with-button">
                <input type="text"
                    class="form-control
                            no-radius--right
                            step__form-text"
                    id="input_predictText"
                    aria-describedby=""
                    placeholder="I had a good day!">
                <button class="category__button--create
                                d-inline-block
                                btn
                                btn-primary
                                no-radius--left"
                        id="button_predictText"
                        type="button">
                    Predict
                </button>
            </div>
        </div>
    </li>

    <li class="stepper__step">
        <span class="step__number">6</span>
        <div class="step__circle">
            <i></i>
        </div>
        <div class="step__body">
            <h2 class="step__title">
                 Play with the model in Codelab
            </h2>
            <button class="btn btn-primary button--play"
                    type="button ">
                    Go!
            </button>
        </div>
    </li>
</ul>
