<ul class="stepper">
    <li class="stepper__step">
        <span class="step__number">1</span>
        <div class="step__circle">
            <i></i><!-- no dom here, gets made by css -->
        </div>
        <div class="step__body">
            <h2 class="step__title">What is your project name?</h2>
            <div class="step__form-with-button
                        project-name__form">
                <input type="text"
                        class="form-control
                               step__form-text
                               no-radius--right"
                        id="input_projectName"
                        autocomplete="off"
                        aria-describedby=""
                        placeholder="Unicorns vs Narhwals">
                <button class="d-inline-block
                                btn
                                btn-primary
                                no-radius--left
                                js--project--name__button"
                        type="button">
                        Set
                </button>
            </div>
            <div class="project-name__result-row" style="display:none;">
                <span class="project-name__value
                             js--project-name__value--set"></span>
                <a href="#" class="project-name__remove-button
                                    btn btn-primary"
                            role="button">
                    <i class="fas fa-times"></i>
                </a>
            </div>
        </div>
    </li>

    <li class="stepper__step">
        <span class="step__number">2</span>
        <div class="step__circle">
            <i></i>
        </div>
        <div class="step__body">
            <h2 class="step__title">What is your {{ serviceName }} key?
                <a href="#" class="step__help-open-button
                                    js--open-help" role="button">
                    <i class="fas fa-question-circle"></i>
                </a>
            </h2>
            <div class="step__form-with-button">
                <input type="text"
                    class="form-control
                           no-radius--right
                           step__form-text
                           js--apikey__input"
                    aria-describedby=""
                    placeholder="Paste API Key here">
                 <button class="button--create
                                d-inline-block
                                btn
                                btn-primary
                                no-radius--left
                                js--apikey__input--set"
                        type="button">
                        Set Key
                </button>
            </div>
            <div class="api-key__result-row" style="display:none;">
                <span class="api-key__value
                             js--api-key__value"></span>
                <a href="#" class="api-key__remove-button
                                   btn btn-primary"
                            role="button">
                    <i class="fas fa-times"></i>
                </a>
            </div>

            <a href="{{ howToGuide }}" class="step__link step__link--get-key" target="_blank" >
                   How-to guide
            </a>
            <a href="{{ serviceUrl }}" class="step__link step__link--get-key" target="_blank" >
                   Sign up &amp; get keys
            </a>
            <div class="step__help
                        step__help--keys">
                <div class="plyr__video-embed" id="js-classifier__video--clarifai">
                    <iframe src="https://www.youtube.com/embed/8Rz5KwpecbI"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                    </iframe>
                </div>
            </div>
        </div>
    </li>

    <li class="stepper__step">
        <span class="step__number">3</span>
        <div class="step__circle">
            <i></i>
        </div>
        <div class="step__body">
        <h2 class="step__title">What categories should your model have?
            <a href="#" class="step__help-open-button
                                js--open-help" role="button">
                <i class="fas fa-question-circle"></i>
            </a>
        </h2>
        <div class="step__help">
           <span>Categories are groups of things your model wil try to tell the difference between.
           Remember, it can only learn what you give it! </span>
            <ul>
                <li><b>animals,</b>like <span> cats vs dogs</span></li>
                <li><b>objects</b>, like <span> cups vs jars</span></li>
                <li><b>expressions</b>, like <span> happy vs sad</span></li>
            </ul>
        </div>
        <div id="categoriesContainer"></div>
            <div class="step__form-with-button">
                <input type="text"
                    class="form-control
                            no-radius--right
                            step__form-text"
                    id="input_categoryName"
                    aria-describedby=""
                    placeholder="Unicorns">
                 <button class="button--create
                                d-inline-block
                                btn
                                btn-primary
                                no-radius--left"
                        id="button_categoryName"
                        type="button">
                    Add Category
                </button>
            </div>
        </div>
    </li>

    <li class="stepper__step">
        <span class="step__number">4</span>
        <div class="step__circle">
            <i></i>
        </div>
        <div class="step__body">
            <h2 class="step__title">
                <button class="btn btn-primary button--train
                               js--train__button"
                        type="button">
                    <span id="span_train" role="status"
                            aria-hidden="true"></span>
                    <span id="span_train_status">
                     Train Model
                   </span>
                </button>
            </h2>
            <div class="classifier__train-results">
                <div class="classifier__upload_progress
                            js--classifier__upload_progress">
                    Uploading: 
                    <span class="js--classifier__upload__progress--set"><span>
                </div>
                <div class="classifier__name 
                            js--classifier__name">
                    <span class="classifier__name-label">Model Name: </span>
                    <span class="classifier__name-value
                                js--classifier__name--set"></span>
                </div>
                <div class="classifier__status
                            js--classifier__status">
                    <span class="classifier__status-label">Model Status: </span> 
                    <span class="classifier__status-value
                                 js--classifier__status--set"></span>
                </div>
                <div class="spinner-grow 
                            js--classifier__status_spinner" 
                      style="display:none"
                      role="status">
                    <span class="sr-only"></span>
                </div>
            </div>
        </div>
    </li>

    <li class="stepper__step">
        <span class="step__number">5</span>
        <div class="step__circle">
            <i></i>
        </div>
        <div class="step__body">
            <h2 class="step__title">Upload an image to test your model</h2>
            <div class="category__container">
                <div class="category__box 
                            category__box--dashed 
                            category__box--vision">
                    <form action="/"
                          id="js--dropzone-predict"
                          class="dropzone--predict">
                        <div class="dropzone__header">
                            <i class="fas fa-cloud-upload-alt dropzone__upload-icon"></i>
                            <span class=" dropzone__label">Drag and drop one image</span>
                        </div>
                        <div class="js--dropzone__previews-container--predict
                                    dropzone-previews"></div>
                    </form>
                </div>
            </div>
            <div class="classifier__train-or">
                &mdash; or  &mdash;
            </div>
             <input type="text"
                    class="form-control
                           step__form-text
                           classifier__train-url"
                    autocomplete="off"
                    aria-describedby=""
                    placeholder="Enter an image URL">
            <button class="btn btn-primary
                           js--classifier__predict__button"
                    type="button disabled">
                Predict
            </button>
        </div>
    </li>

    <li class="stepper__step">
        <span class="step__number">6</span>
        <div class="step__circle">
            <i></i>
        </div>
        <div class="step__body">
            <h2 class="step__title">
                 Play with the model in Codelab
            </h2>
            <button class="btn 
                            btn-primary 
                            button--play
                           js--classifier__open__codelab"
                    type="submit" disabled>
                    Go!
            </button>
        </div>
    </li>
</ul>
