<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- this var gets set in router.js, per page -->
		<title>{{ title }}</title>

		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />

  		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu:300,400,700">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
		
  		<!-- app css -->
		<link rel="stylesheet" href="/css/style.css" type="text/css" />
		<link rel="stylesheet" href="/css/example-style.css" type="text/css" />

		<!-- vendor / 3rd party libs -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  		<script src="https://cdnjs.cloudflare.com/ajax/libs/localforage/1.7.3/localforage.min.js" type="text/javascript"></script>
	
  		<!-- for Google Doodle -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.6.0/p5.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.6.0/addons/p5.dom.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@0.15.2"></script>
		<script src="/doodle/sketch.js"></script>
	</head>

	<body>
		{{{ body }}}
	</body>

</html>
