<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- this var gets set in router.js, per page -->
		<title>{{ title }}</title>

		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />

  		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu:300,400,700">
		
  		<!-- shared css  -->
		<link rel="stylesheet" href="/css/shared/reset.css" type="text/css" />
		<link rel="stylesheet" href="/css/shared/base.css" type="text/css" />
		<link rel="stylesheet" href="/css/shared/header.css" type="text/css" />
		<link rel="stylesheet" href="/css/shared/footer.css" type="text/css" />

  		<!-- pages css -->
		<link rel="stylesheet" href="/css/pages/index.css" type="text/css" />
		<link rel="stylesheet" href="/css/pages/doodle.css" type="text/css" />
		<link rel="stylesheet" href="/css/pages/vision.css" type="text/css" />
		<link rel="stylesheet" href="/css/pages/text.css" type="text/css" />
		<link rel="stylesheet" href="/css/pages/partials/examples.css" type="text/css" />
		<link rel="stylesheet" href="/css/pages/partials/classifiers.css" type="text/css" />

		<!-- vendor js  -->
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

  		<script src="https://cdnjs.cloudflare.com/ajax/libs/localforage/1.7.3/localforage.min.js" type="text/javascript"></script>
		<script src="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.js"></script>
		<script src="https://unpkg.com/filepond-plugin-file-validate-size/dist/filepond-plugin-file-validate-size.js"></script>
		<script src="https://unpkg.com/filepond-plugin-image-validate-size/dist/filepond-plugin-image-validate-size.js"></script>
		<script src="https://unpkg.com/filepond/dist/filepond.js"></script>

		<!-- vendor js, for Google Doodle -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.6.0/p5.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.6.0/addons/p5.dom.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@0.15.2"></script>
		
		<!-- vendor css  -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

		<link href="https://unpkg.com/filepond/dist/filepond.css" rel="stylesheet">
		<link href="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.css" rel="stylesheet">

		<!-- application js -->
		<script src="/doodle/sketch.js"></script>


	</head>

	<body>
		{{{ body }}}


	</body>
</html>
