html
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{title}}</title>
    <!-- CSS Dependencies -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://unpkg.com/dropzone@5/dist/min/dropzone.min.css" rel="stylesheet">
    <link href="https://cdn.plyr.io/3.7.2/plyr.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.13.3/css/selectize.default.min.css" rel="stylesheet">
    <link href="https://code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/style.css">

    <!-- JavaScript Dependencies -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js"></script>
    <script src="https://unpkg.com/dropzone@5/dist/min/dropzone.min.js"></script>
    <script src="https://cdn.plyr.io/3.7.2/plyr.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.13.3/js/standalone/selectize.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"></script>
    <script>
        // Utility functions
        window.showSuccessNotification = function(message) {
            new Noty({
                type: 'success',
                text: message
            }).show();
        };

        window.showErrorNotification = function(message) {
            new Noty({
                type: 'error',
                text: message
            }).show();
        };
    </script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="/">Cognimates Training</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/text_home">Text Classification</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/vision_home">Vision Classification</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    {{{body}}}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/static/js/main.js"></script>
    <script src="/static/js/vision-classifier-utils.js"></script>
    <script src="/static/js/vision-classifier.js"></script>
    <script src="/static/js/test-image-loader.js"></script>
    <script>
        // Initialize Dropzone
        Dropzone.autoDiscover = false;
        // Initialize Plyr for any media elements
        const players = Plyr.setup('.plyr');
        // Initialize Selectize for dropdowns
        $(document).ready(function() {
            $('select').selectize({
                create: false,
                sortField: 'text'
            });

            // Initialize jQuery UI elements
            $('.ui-widget').each(function() {
                $(this).button();
            });

            // Configure Noty defaults
            Noty.overrideDefaults({
                layout: 'topRight',
                theme: 'bootstrap-v4',
                timeout: 3000,
                progressBar: true
            });
        });
    </script>
</body>
</html>
