{{> header }}

<div class="cognimates-studio">
    <h2 class="cognimates-studio__title">Cognimates Studio</h2>

    <div class="classifiers">
        <div class="classifiers__card classifiers__card--vision">
            <img src="/images/vision_banner.png"
                class="classifiers__card-image js-classifiers__card--image"
                alt="Train a Vision Classifier">
            <h3 class="classifiers__card-headline">Vision Training</h3>
            <p class="classifiers__card-text">Train your computer to recognize images</p>
            <a href="/vision_home" class="classifiers__card-button">Train Vision</a>
            <a href="https://docs.google.com/document/d/1q8Cj9QhwjUXM51Qqtj3V3jYMFA44SiAAIZzVck7Efdc/view#heading=h.4jovbu2htq86"
               class="classifiers__card-guide">Getting Started Guide</a>
        </div>

        <div class="classifiers__card classifiers__card--text">
            <img src="/images/nlc_banner.png"
                class="classifiers__card-image js-classifiers__card--vision"
                alt="Train a Text Classifier">
            <h3 class="classifiers__card-headline">Text Training</h3>
            <p class="classifiers__card-text">Train your computer to understand text</p>
            <a href="/text_home" class="classifiers__card-button">Train Text</a>
            <a href="https://docs.google.com/document/d/1owZxciBFD9UWaPBfDKoXK9DaBejm5aSNlP_Wl0RmMIE/view"
               class="classifiers__card-guide">Getting Started Guide</a>
        </div>
    </div>
</div>

{{> footer }}

<script>
    $(document).ready(function() {
        $('.classifiers__card-button').click(function(evt) {
            evt.preventDefault();
            window.location.href = $(this).attr('href');
            return false;
        });
    });
</script>
