{{> header }}

<div class="container ">
	<div class="row ">
		<div class="col text-center">
		<h1 class="classifier__page-header">Cognimates Studio</h1>
		</div>
	</div>
	<div class="row">
			<div class="classifiers__card-wrapper col-12 col-md-6">
				<div class="card classifiers__card">
					<img src="/images/nlc_banner.png"
						class="card-img-top classifiers__card-image"
						alt="Train a Text Classifier">

					<div class="card-body classifiers__card-body">
						<h5 class="classifiers__card-headline">Text </h5>
						<p class="card-text classifiers__card-text">
							Some quick example text to build on the
							card title and make up the bulk of the card's content.
						</p>
						<span class="classifiers__card-text--secondary">Train a </span>
						<button class="btn btn-primary btn-lg btn-inline-block"
							id="textClassifierButton">
							Text Model
						</button>
					</div>

					<ul class="list-group list-group-flush">
						<li class="list-group-item text-center">
							<a class="button--view-guide"
								href="https://drive.google.com/uc?export=download&id=12m_d2NAI_eXpjZmIEkmwsgKVZv-gNptz">
								View Guide</a>
						</li>
					</ul>
				</div>
			</div>

			<div class="classifiers__card-wrapper col-12 col-md-6">
				<div class="card classifiers__card">
					<img src="/images/vision_banner.png"
						class="card-img-top classifiers__card-image"
						style="border-bottom: 1px solid #e8e8e8;"
						alt="Train a Text Classifier">
					<div class="card-body classifiers__card-body">
						<h5 class="classifiers__card-headline">Vision </h5>
						<p class="card-text classifiers__card-text">
							Some quick example .
						</p>
						<span class="classifiers__card-text--secondary">Train a </span>
						<button class="btn btn-primary btn-lg btn-inline-block"
							id="imageClassificationButton">
							Vision model
						</button>
					</div>
					<ul class="list-group list-group-flush">
						<li class="list-group-item text-center">
							<a class="button--view-guide"
								href="https://drive.google.com/uc?export=download&id=1zXUvZL7DDkFpPaNLA9RdiX_hvRbLmFHG">
								View Guide</a>
						</li>
					</ul>
				</div>
			</div>

			<div class="classifiers__card-wrapper col-12 col-md-6">

				<div class="card classifiers__card">
					<img src="/images/doodle_banner.png"
						class="card-img-top classifiers__card-image"
						style="border-bottom: 1px solid #e8e8e8;"
						alt="Train a Text Classifier">
					<div class="card-body classifiers__card-body">
						<h5 class="classifiers__card-headline">Text Classifier</h5>
						<p class="card-text classifiers__card-text">
							Some quick example text to build on the
							card title and make up the bulk of the card's content.
						</p>
						<span class="classifiers__card-text--secondary">Train a </span>
						<button class="btn btn-primary btn-lg btn-inline-block"
							id="doodleClassificationButton">
							Doodle model
						</button>
					</div>
				</div>
			</div>
	</div>
</div>

<script>
	$(document).ready(function() {
		$("#textClassifierButton").click(function(evt) {
			evt.preventDefault();
			window.location.href = "/text_home";
			return false;
		});

		$("#imageClassificationButton").click(function(evt) {
			evt.preventDefault();
			window.location.href = "/vision_home";
			return false;
		});

		$("#doodleClassificationButton").click(function(evt) {
			evt.preventDefault();
			window.location.href = "/doodle";
			return false;
		});
	});
</script>
