{{> header }}

<div class="container ">
	<div class="row ">
		<div class="col text-center">
		<h1 class="classifier__page-header">Cognimates Studio</h1>
		</div>
	</div>
	<div class="row">
		<div class="classifiers__card-wrapper col-12 col-md-6">
			<div class=" card classifiers__card">
				<img src="/images/nlc_banner.png"
					class="js-classifiers__card--vision 
							card-img-top 
							classifiers__card-image"
					alt="Train a Text Classifier">

				<div class="card-body classifiers__card-body">
					<button class="js-classifiers__card--vision 
							btn 
							btn-primary 
							btn-lg 
							btn-inline-block">
						Train Text
					</button>
				</div>

				<ul class="list-group list-group-flush">
					<li class="list-group-item text-center">
						<a class="button--view-guide"
							href="https://drive.google.com/uc?export=download&id=12m_d2NAI_eXpjZmIEkmwsgKVZv-gNptz">
							View Guide
						</a>
					</li>
				</ul>
			</div>
		</div>

		<div class="classifiers__card-wrapper col-12 col-md-6">
			<div class="card classifiers__card">
				<img src="/images/vision_banner.png"
					class="js-classifiers__card--image 
							card-img-top 
							classifiers__card-image"
					alt="Train a Text Classifier">
				<div class="card-body classifiers__card-body">
					<button class="js-classifiers__card--image 
							btn 
							btn-primary 
							btn-lg 
							btn-inline-block">
						Train Vision
					</button>
				</div>
				<ul class="list-group list-group-flush">
					<li class="list-group-item text-center">
						<a class="button--view-guide"
							href="https://drive.google.com/uc?export=download&id=1zXUvZL7DDkFpPaNLA9RdiX_hvRbLmFHG">
							View Guide</a>
					</li>
				</ul>
			</div>
		</div>

		<div class="classifiers__card-wrapper col-12 col-md-6">

			<div class="card classifiers__card">
				<img src="/images/doodle_banner.png"
					class="js-classifiers__card--doodle 
							card-img-top 
							classifiers__card-image"
					alt="Train a Text Classifier">
				<div class="card-body classifiers__card-body">
					<span class="classifiers__card-text--secondary">Train a </span>
					<button class="js-classifiers__card--doodle
									btn 
									btn-primary 
									btn-lg 
									btn-inline-block">
						Doodle model
					</button>
				</div>
			</div>
		</div>
	</div>
</div>

<script>
	$(document).ready(function() {
		$(".js-classifiers__card--vision").click(function(evt) {
			evt.preventDefault();
			window.location.href = "/text_home";
			return false;
		});

		$(".js-classifiers__card--image").click(function(evt) {
			evt.preventDefault();
			window.location.href = "/vision_home";
			return false;
		});

		$(".js-classifiers__card--doodle").click(function(evt) {
			evt.preventDefault();
			window.location.href = "/doodle";
			return false;
		});
	});
</script>
