<!DOCTYPE html>
<html lang="en">
<head>
  <title>Text Classifier - Cognimates Studio</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>
    /* Remove the navbar's default margin-bottom and rounded borders */
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }

    /* Add a gray background color and some padding to the footer */
    footer {
      background-color: #f2f2f2;
      padding: 25px;
    }

  .carousel-inner img {
      width: 100%; /* Set width to 100% */
      margin: auto;
      min-height:200px;
  }

  /* Hide the carousel text when the screen is less than 600 pixels wide */
  @media (max-width: 600px) {
    .carousel-caption {
      display: none;
    }
  }
    h3 {
    color: #328EDE;
  }

  .btn-primary{
    background-color: #328EDE;
    border-color: #328EDE;
  }

  .btn-primary:hover {
    background-color: #DA2825;
    border-color: #DA2825;
  }
  </style>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/home">Cognimates</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a href="/nlc_home" id="backButton">Text Classification</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#" id="logoutButton"><span class="glyphicon glyphicon-log-in"></span> Log out</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container text-center">
  <h3 id="status"></h3><br>

  <div class="row">
    <h3 id="classifierTitle"></h3>
    <br><br>
    <div class="col-sm-8" style="text-align: left">
      <br>
      <span id="classifierId"></span><br>
      <span id="classifierStatus"></span><br>
      <span id="classifierCreated"></span>
    </div>
    <div class="col-sm-4">
      <div class="btn btn-primary btn-sm btn-block" id="refreshClassifier">
        Refresh
      </div><br>
      <div class="btn btn-danger btn-sm btn-block" id="deleteClassifier">
        Delete
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-sm-8">
      <br>
      <form id="predictionForm">
        <div class="form-group">
          <input class="form-control input-lg" id="predictionInput" type="text">
        </div>
      </form>
    </div>
    <div class="col-sm-2">
    </div>
    <div class="col-sm-2">
      <br>
      <div class="btn btn-primary btn-lg" id="predictButton">
        Predict
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <ul class="list-group" id="labelList">
    </ul>
  </div>
</div><br>

<script>
  function init() {
    if (window.localStorage.getItem('token_expiry') != 'null') {
      if (parseInt(window.localStorage.getItem('token_expiry')) < new Date().getTime()) {
        window.localStorage.setItem('access_token', null)
        window.localStorage.setItem('token_expiry', null)
        window.location.replace("/");
      } else {

        if(window.localStorage.getItem('selectedClassifier') == 'null') {
          window.location.replace("/nlc_home");
          return
        }
        window.access_token = window.localStorage.getItem('access_token')
        loadUserClassifier(window.localStorage.getItem('selectedClassifier'));
        return
      }
    } else {
      window.location.replace("/");
      return
    }

  }

  $(document).ready(function(){
    $('#logoutButton').click(function(evt) {
      evt.preventDefault();
      window.localStorage.setItem('access_token', null)
      window.localStorage.setItem('token_expiry', null)
      window.location.replace("/");
      return false;
    })

    $('#predictionForm').submit(function() {
      var predictionInput = $('#predictionInput').val()
      if(predictionInput != null) {
        classify(predictionInput);
      }
      return false;
    });

    $('#predictButton').click(function(evt) {
      evt.preventDefault();
      var predictionInput = $('#predictionInput').val()
      if(predictionInput != null) {
        classify(predictionInput);
      }
      return false;
    });


    $('#refreshClassifier').click(function(evt) {
      evt.preventDefault();
      loadUserClassifier(window.localStorage.getItem('selectedClassifier'));
      return false;
    });

    $('#deleteClassifier').click(function(evt) {
      evt.preventDefault();
      deleteClassifier()
      return false;
    });

    init();
  });


  function loadUserClassifier(classifier_id) {
    $.ajax({
         url: "/nlc/classifier",
         type: "GET",
         headers: { 'token': window.access_token },
         data: { classifier_id: classifier_id},
         success: function (data) {
           if(data.error == null) {
             window.userClassifier = data
           } else {
             alert(data.error)
           }


         },
         error: function (data) {
           console.log(data);
           window.userClassifiers = []
         }
      });
  }

  function displayClassifierDetails() {
      if(window.userClassifier == null) {
        window.localStorage.setItem('selectedClassifier', null)
        window.location.replace('/nlc_home')
        return
      }
      console.log(window.userClassifier);
      $('#classifierTitle').html(window.userClassifier.name)
      $('#classifierId').html(`Classifier ID: ${window.userClassifier.classifier_id}`)
      $('#classifierStatus').html(`Classifier Status: ${window.userClassifier.status}`)
      $('#classifierCreated').html(`Creation date: ${window.userClassifier.created}`)
      $("#status").html("Your project is " + window.userClassifier.status)
       displayClassifierDetails()           
  
      //Refreshes to check classifier status
      if (window.userClassifier.status != "Available") {
        setTimeout(displayClassifierDetails, 10000);
      }
  }


  function deleteClassifier() {
    $.ajax({
         url: "/nlc/classifier",
         type: "DELETE",
         headers: { 'token': window.access_token },
         data: { classifier_id: window.userClassifier.classifier_id },
         success: function (data) {
           if(data.error == null) {
             window.location.replace('/nlc_home')
           } else {
             alert(data.error)
           }
         },
         error: function (data) {
           alert(data.message)
           console.log(data);
         }
      });
  }


  function classify(phrase) {
    $.ajax({
         url: "/nlc/classify",
         type: "GET",
         headers: { 'token': window.access_token },
         data: { classifier_id: window.userClassifier.classifier_id, phrase: phrase },
         success: function (data) {
           if(data.error == null) {
             alert(data.top_class);
           } else {
             alert(data.error)
           }
           displayClassifierDetails()
         },
         error: function (data) {
           console.log(data);
           window.userClassifiers = []
         }
      });
  }
</script>
</body>
</html>
