<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Vision Classifier - Cognimates Studio</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu:300,400,700">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/example-style.css" type="text/css">
  <base href="/"> 
    <style>
    /* Remove the navbar's default margin-bottom and rounded borders */
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }

    /* Add a gray background color and some padding to the footer */
    footer {
      background-color: #f2f2f2;
      padding: 25px;
    }

  .carousel-inner img {
      width: 100%; /* Set width to 100% */
      margin: auto;
      min-height:200px;
  }

  /* Hide the carousel text when the screen is less than 600 pixels wide */
  @media (max-width: 600px) {
    .carousel-caption {
      display: none;
    }
  }

  .btn-success{
    background-color: #328EDE;
    border-color: #328EDE;
  }

  .btn-success:hover {
    background-color: #DA2825;
    border-color: #DA2825;
  }

  .btn-remove{
    background-color: #DA2825;
    border-color: #DA2825;
    color: #fff;
    margin: 0 auto;
  }

  </style>
</head>

<body>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/home">Cognimates</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a href="/vision_home" id="backButton">Vision Classification</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#" id="logoutButton"><span class="glyphicon glyphicon-log-in"></span> Log out</a></li>
      </ul>
    </div>
  </div>
</nav>
  
<header class="main-header">
  <h1 id="labelName"></h1>
  <h2>Add examples to your bucket. Try to add at least ten!</h2><br>
  <div class="btn btn-success btn-lg" id="goBack">
        Return to your project
   </div>
</header>
<section class="example-insert">
    <input class="form-control input-sm" id="exampleInput" type="file" name="task" onchange="encodeImageFileAsURL(this)" accept="image/*">
    <center><span class="btn btn-success" style="font-size: 20px; margin: 10px;" id="addExampleButton">
              Upload Example
    </span></center>
</section>

<section class="example-list">
  <ul></ul>
</section>

  

<script>
  var labelName = null;
	(function() {
	var  app = {
		init: function() {
      if (window.localStorage.getItem('token_expiry') != 'null') {
          if (parseInt(window.localStorage.getItem('token_expiry')) < new Date().getTime()) {
            window.localStorage.setItem('access_token', null)
            window.localStorage.setItem('token_expiry', null)
            window.location.replace("/");
          } else {

            if(window.localStorage.getItem('temp_classifierName') == 'null') {
              window.location.replace("/nlc_home");
              return
            }
            window.access_token = window.localStorage.getItem('access_token')
            window.labelName = window.localStorage.getItem('temp_labelName');
            window.classifierName = window.localStorage.getItem('classifierName')
            $('#labelName').html(window.labelName)
          }
        } else {
          window.location.replace("/");
          return
        }
			// Load list
			app.storage('get');

      $('input').attr('placeholder', 'Add your ' + window.labelName + ' examples here')

			// Add example
			document.querySelector("#addExampleButton").addEventListener('click', 
        function(e) {
          var example = e.target.parentNode.parentNode.firstChild;
          var exampleInput = window.currentExample
          console.log(exampleInput)
  				app.addExample(exampleInput);
  				app.storage('update');
			}, false);

			document.querySelector('.example-list').addEventListener('click', function(e) {
				// Remove label
				if ( e.target.classList.contains('remove-image') ) {
          console.log('check', e.target.parentNode.parentNode)
					app.removeExample(e.target.parentNode.parentNode);
				}
			}, false);

      document.querySelector('#goBack').addEventListener('click', function(e) {
        window.location.replace('/vision-train')
      }, false);
		},

		addExample: function (example) {  
      var new_example = document.createElement('li');
        new_example.setAttribute('class', 'img-example');
        new_example.setAttribute('style', 'background-image: url(' + example + ')')
        new_example.innerHTML = '<center><a href="javascript:;" class="remove-image">remove</a></center>'; 
      console.log(new_example) 
      var exampleInput = $('#exampleInput').val()
      var label = window.labelName
      if(label == undefined) return;
      var examples = JSON.parse(window.localStorage.getItem(classifierName+"_examples"))
      console.log('examples',examples)
      if(examples == null) {
        examples = {}
      }
      if(examples[label] == undefined) {
        examples[label] = []
      }
      
      if(exampleInput != null && exampleInput.length > 0) {
        
        if(example == undefined || example.length == 0) return;
        if(label == undefined || examples[label] == undefined) return;
        if(examples[label].includes(example) == true) {
          alert('example already exists')
          return
        }
        var $list = document.querySelector('.example-list ul');
        $list.appendChild(new_example);
        examples[label].push(example)
      }
      console.log(examples)
      window.localStorage.setItem(classifierName+'_examples', JSON.stringify(examples))
      return false;
		},

		removeExample: function (example) {
			example.style.opacity = 0;
			setTimeout(function() {
				example.remove();
				app.storage('update');
			}, 400);
			var ex = example.getAttribute('style', 'background-image')
      ex = ex.slice(23, -15)
      console.log("now this",ex)
      var label = window.labelName
      var examples = JSON.parse(window.localStorage.getItem(classifierName+'_examples'))
      var idx = examples[label].indexOf(ex)
      console.log("index",idx)
      if(idx > -1) {
        examples[label].splice(idx, 1)
      }
      window.localStorage.setItem(classifierName+'_examples', JSON.stringify(examples))
		},

		storage: function(type) {
      var name = window.classifierName+ '_' + window.labelName + '_examples'
      console.log(name)
			if ( type === 'get' ) {
        console.log("get")
				if ( localStorage.getItem(name+"_html") != null ) {
					document.querySelector('.example-list').innerHTML = localStorage.getItem(name+"_html");
          console.log("get",localStorage.getItem(name+"_html"))
				}
			} else if ( type === 'update' ) {
				var str = document.querySelector('.example-list').innerHTML;
				localStorage.setItem(name+"_html", str);
        console.log(localStorage.getItem(name+"_html"))
			}
		}
	};
	app.init();
})()

  function loadExampleItems (label){
    clearExampleItems()
    if(window.examples == undefined) return
    if(window.label == undefined || window.examples[label] == undefined) return;
    window.examples[label].forEach((example) => {
      addExampleItem(example)
    })
  }

  function encodeImageFileAsURL(element) {
    var file = element.files[0];
    if(file == undefined) return;
    var reader = new FileReader();
    reader.onloadend = function() {
      window.currentExample = reader.result
    }
    reader.readAsDataURL(file);
  }
</script>




</body>

</html>
