<!DOCTYPE html>
<html lang="en">
<head>
  <title>Vision Classifier - Cognimates Studio</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>
    /* Remove the navbar's default margin-bottom and rounded borders */
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }

    /* Add a gray background color and some padding to the footer */
    footer {
      background-color: #f2f2f2;
      padding: 25px;
    }

  .carousel-inner img {
      width: 100%; /* Set width to 100% */
      margin: auto;
      min-height:200px;
  }

  /* Hide the carousel text when the screen is less than 600 pixels wide */
  @media (max-width: 600px) {
    .carousel-caption {
      display: none;
    }
  }
    h3 {
    color: #328EDE;
  }

  .btn-primary{
    background-color: #328EDE;
    border-color: #328EDE;
  }

  .btn-primary:hover {
    background-color: #DA2825;
    border-color: #DA2825;
  }

  .btn-success{
    background-color: #328EDE;
    border-color: #328EDE;
  }

  .btn-success:hover {
    background-color: #DA2825;
    border-color: #DA2825;
  }
  </style>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/home">Cognimates</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a href="/vision_home" id="backButton">Visual Classification</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#" id="logoutButton"><span class="glyphicon glyphicon-log-in"></span> Log out</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container text-center">
  <h3>Cognimates Watson Studio</h3><br>

  <div class="row">
    <h3 id="classifierTitle"></h3>
  </div>
  <br>
  <div class="row">
    <h3>Training</h3>
    <br>
    <div class="col-sm-4">
      <form id="labelInputForm">
        <div class="form-group">
          <input class="form-control input-lg" id="labelInput" type="text" onkeypress="return event.keyCode!=13">
        </div>
      </form>
    </div>
    <div class="col-sm-2">
      <div class="btn btn-success btn-lg" id="addLabelButton">
        + Add Label
      </div>
    </div>
    <div class="col-sm-6">
      <div class="btn btn-success btn-lg" id="trainButton">
        Train classifier
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <!-- Instructions for users -->
    <div class="alert alert-info" style="width: 600px; margin: 10px auto;">
      <strong>Tip:</strong> Click on a label name to add image examples. Each label needs at least 10 images.
    </div>
    <ul class="list-group" id="labelList">
    </ul>
  </div>
</div><br>

<div id="labelModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title" id="labelModalHeader"></h4>
      </div>
      <div class="modal-body">
        <p>Add examples for selected label here. You can remove an example by clicking on it.</p>
        <ul class="list-group" id="examplesList">
        </ul>
        <div class="row">
          <div class="col-sm-8">
            <br>
            <form id="exampleForm">
              <div class="form-group">
                <input class="form-control input-sm" id="exampleInput" type="file" onchange="encodeImageFileAsURL(this)" accept="image/*" multiple>
              </div>
            </form>
          </div>
          <div class="col-sm-2 col-sm-push-1">
            <br>
            <div class="btn btn-primary btn-sm" id="addExampleButton">
              Upload Example
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" id="closeLabelModal">Close</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" id="saveExamplesButton">Save Examples</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal" id="removeLabelButton">Remove label</button>
      </div>
    </div>

  </div>
</div>

<script>
  function init() {
    if (window.localStorage.getItem('token_expiry') != 'null') {
      if (parseInt(window.localStorage.getItem('token_expiry')) < new Date().getTime()) {
        window.localStorage.setItem('access_token', null)
        window.localStorage.setItem('token_expiry', null)
        window.location.replace("/");
      } else {

        if(window.localStorage.getItem('temp_classifierName') == 'null') {
          window.location.replace("/vision_home");
          return
        }
        if(window.localStorage.getItem('vision_apiKey') == 'null') {
          window.location.replace("/nlc_home");
          return
        }
        window.apiKey = window.localStorage.getItem('vision_apiKey');
        window.access_token = window.localStorage.getItem('access_token')
        window.classifierName = window.localStorage.getItem('temp_classifierName');
        $('#classifierTitle').html(window.classifierName)
        return
      }
    } else {
      window.location.replace("/");
      return
    }
  }

  $(document).ready(function(){
    $('#logoutButton').click(function(evt) {
      evt.preventDefault();
      window.localStorage.setItem('access_token', null)
      window.localStorage.setItem('token_expiry', null)
      window.localStorage.setItem('vision_apiKey', null)
      window.location.replace("/");
      return false;
    })

    $('#labelInputForm').on("keypress", 'form', function (e) {
        var code = e.keyCode || e.which;
        if (code == 13) {
            e.preventDefault();
            var labelInput = $('#labelInput').val()
            if(labelInput != null) {
              addLabelItem(labelInput);
            }
            return false;
        }
    });


    $('#addLabelButton').click(function (e) {
      e.preventDefault();
      var labelInput = $('#labelInput').val()
      if(labelInput != null && labelInput.length > 0) {
        addLabelItem(labelInput);
        // Clear the input field after adding
        $('#labelInput').val('');
      }
      return false;
    })

    $('#removeLabelButton').click(function (e) {
      e.preventDefault();
      $(`#label_item_${window.selectedLabel}`).remove()
      window.examples[window.selectedLabel] = undefined
      var index = window.labelListItems.indexOf(window.selectedLabel);
      if (index > -1) {
        window.labelListItems.splice(index, 1);
      }
      window.selectedLabel = undefined
      $('#labelModal').modal('hide')
      return false;
    })
    
    $('#saveExamplesButton').click(function (e) {
      e.preventDefault();
      $('#labelModal').modal('hide')
      return false;
    })

    $('#addExampleButton').click(function (e) {
      e.preventDefault();
      if(window.selectedLabel == undefined) return;
      if(window.currentExample == undefined) {
        alert('No example file chosen')
        return;
      }
      if(window.examples == undefined) {
        window.examples = {}
      }
      if(window.examples[window.selectedLabel] == undefined) {
        window.examples[window.selectedLabel] = []
      }
      var exampleInput = window.currentExample
      if(window.examples[window.selectedLabel].includes(exampleInput) == true) {
        return
      }
      if(exampleInput != null && exampleInput.length > 0) {
        window.examples[window.selectedLabel].push(exampleInput)
        addExampleItem(exampleInput);
        $(`#label_badge_${window.selectedLabel}`).html(window.examples[window.selectedLabel].length)
      }
      return false;
    })


    $('#trainButton').click(function (e) {
      if (window.labelListItems == undefined || window.labelListItems.length < 2) {
        alert('Two or more labels are required to train')
        return
      }
      var error = false
      for (var idx = 0, label = window.labelListItems[idx]; idx < window.labelListItems.length; idx++) {
        if (window.examples[label].length < 10) {
          alert('10 or more examples required for each label')
          error = true
          break
        }
      }
      if(error == true) {
        return
      }
      var requestData = {}
      requestData.name = window.classifierName
      requestData.training_data = []
      window.labelListItems.forEach((label) => {
        label_items = []
        window.examples[label].forEach((example) => {
          var image_file = example.split(',')[1]
          label_items.push(image_file)
        })
        requestData.training_data.push({label: label, label_items: label_items})
      })
      $.ajax({
        url: '/vision/classifier',
        type: 'POST',
        dataType: 'json',
        contentType: "application/json; charset=utf-8",
        data: JSON.stringify(requestData),
        headers: { apikey: window.apiKey },
        success: function (data) {
          if(data.error == null) {
            window.localStorage.setItem('selectedClassifier', data.classifier_id)
            window.location.replace('/vision')
          } else {
            alert(data.error)
          }
        }
      })
    })

    init();
  });

  function encodeImageFileAsURL(element) {
    if(element.files.length == 1) {
      var file = element.files[0];
      if(file == undefined) return;
      var reader = new FileReader();
      reader.onloadend = function() {
        window.currentExample = reader.result
      }
      reader.readAsDataURL(file);
    } else if(element.files.length > 1) {
      Array.from(element.files).forEach((file) => {
        if(file == undefined) return;
        var reader = new FileReader();
        reader.onloadend = function() {
          addExampleFromData(reader.result)
        }
        reader.readAsDataURL(file);
      })
    }
  }


  function addLabelItem(label) {
    if(window.labelListItems == null) {
      window.labelListItems = []
    }
    if(window.labelListItems.includes(label) != false) {
      alert('Label already exists')
      return
    }
    var listItem = document.createElement('li')
    listItem.className = "list-group-item"
    listItem.id = `label_item_${label}`
    listItem.style.cursor = "pointer" // Make cursor a pointer to indicate clickability
    
    // Add main label text
    listItem.append(`${label} `)
    
    // Add badge
    var span = document.createElement('span')
    span.className = "badge"
    span.id = `label_badge_${label}`
    span.innerHTML = 0
    listItem.append(span)
    
    // Add click indicator text
    var clickIndicator = document.createElement('div')
    clickIndicator.style.fontSize = "12px"
    clickIndicator.style.color = "#666"
    clickIndicator.style.marginTop = "5px"
    clickIndicator.innerHTML = "Click to add images"
    listItem.append(clickIndicator)
    
    // Add click event listener
    listItem.addEventListener('click', function(labelName) {
      return function() { 
        console.log("label clicked: " + labelName);
        showLabelModal(labelName) 
      }
    }(label))
    
    $('#labelList').append(listItem)
    window.labelListItems.push(label)
    
    if(window.examples === undefined) {
      window.examples = {}
    }
    window.examples[label] = []
  }


  function selectLabel(label) {
    window.selectedLabel = label
  }

  function showLabelModal(label) {
    selectLabel(label)
    $('#labelModalHeader').html(label);
    $("#exampleInput").val('');
    $('#labelModal').modal();
    loadExampleItems()
  }


  function addExampleItem(example) {
    if(example == undefined || example.length == 0) return;
    if(window.selectedLabel == undefined || window.examples[window.selectedLabel] == undefined) return;
    var exampleItem = document.createElement('li')
    var examplePreview = document.createElement('img')
    examplePreview.className = 'img-responsive'
    examplePreview.src = example
    examplePreview.style.maxHeight = "50px"
    exampleItem.className = "list-group-item"
    exampleItem.append(examplePreview)
    exampleItem.addEventListener('click', function(labelName, phrase) {
      return function() { removeExample(labelName, phrase) }
    }(window.selectedLabel, example))
    $('#examplesList').append(exampleItem)
    $("#exampleInput").val('');
    window.currentExample = undefined
  }

  function addExampleFromData(exampleInput) {
    if(window.selectedLabel == undefined) return;
    if(exampleInput == undefined) {
      console.log(`exampleInput variable is undefined`);
      return;
    }
    if(window.examples == undefined) {
      window.examples = {}
    }
    if(window.examples[window.selectedLabel] == undefined) {
      window.examples[window.selectedLabel] = []
    }
    if(window.examples[window.selectedLabel].includes(exampleInput) == true) {
      console.log(`Example already exists in given label`);
      return
    }
    if(exampleInput != null && exampleInput.length > 0) {
      window.examples[window.selectedLabel].push(exampleInput)
      addExampleItem(exampleInput);
      $(`#label_badge_${window.selectedLabel}`).html(window.examples[window.selectedLabel].length)
    }
  }

  function clearExampleItems() {
    $('#examplesList').empty()
  }

  function removeExample(label, example) {
    var idx = window.examples[label].indexOf(example)
    if(idx > -1) {
      window.examples[label].splice(idx, 1)
    }
    loadExampleItems()
  }

  function loadExampleItems() {
    clearExampleItems()
    if(window.examples == undefined) return
    if(window.selectedLabel == undefined || window.examples[window.selectedLabel] == undefined) return;
    window.examples[window.selectedLabel].forEach((example) => {
      addExampleItem(example)
    })
  }

  // Initialize modals properly when the document is ready
  $(document).ready(function() {
    // Initialize all modals
    $('.modal').modal({
      backdrop: 'static',
      keyboard: false,
      show: false
    });
  });
</script>
</body>
</html>
