<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link href="/visualizer/resnet/css/style.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/105/three.js" type="text/javascript"></script>
</head>
<body>
    <script src="/visualizer/resnet/js/lib/OrbitControls.js"></script>
    <script src="/visualizer/resnet/js/lib/tsne.js"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@0.14.1"></script>
    <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs-tsne"></script> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- WebDNN scripts -->
    <script src="/visualizer/webdnn.js" type="text/javascript"></script>
    <script src="/visualizer/imagenet_labels.js" type="text/javascript"></script>
    <script src="/visualizer/resnet/script.js" type="text/javascript"></script>

    <script src="/visualizer/resnet/main.js" type="text/javascript"></script>
</body>
</html>
