<!DOCTYPE html>
<html lang="en">
<head>
    <title></title>

    <!-- Three.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/105/three.js" type="text/javascript"></script>
</head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<body>
    <script src="/visualizer/resnet/js/lib/OrbitControls.js"></script>
    <script src="/visualizer/resnet/js/lib/tsne.js"></script>
    <script src="/visualizer/resnet/js/lib/CopyShader.js"></script>
    <script src="/visualizer/resnet/js/lib/FXAAShader.js"></script>
    <script src="/visualizer/resnet/js/lib/EffectComposer.js"></script>
    <script src="/visualizer/resnet/js/lib/RenderPass.js"></script>
    <script src="/visualizer/resnet/js/lib/ShaderPass.js"></script>
    <script src="/visualizer/resnet/js/lib/OutlinePass.js"></script>
    <script src="/visualizer/resnet/js/lib/dat.gui.min.js"></script>
    <script src="/visualizer/resnet/js/lib/color.js"></script>

    <!-- <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@0.14.1"></script>
    <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs-tsne"></script> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>



    <!-- WebDNN scripts -->
    <script src="/visualizer/webdnn.js" type="text/javascript"></script>
    <script src="/visualizer/imagenet_labels.js" type="text/javascript"></script>
    <script src="/visualizer/resnet/script.js" type="text/javascript"></script>


    <script src="/visualizer/resnet/main.js" type="text/javascript"></script>
    <link href="/visualizer/resnet/css/style.css" rel="stylesheet">


    <div class="progress">
        <div class="spinner-border text-light mx-auto my-auto" role="status">
           <span class="sr-only">Loading...</span>
       </div>
    </div>

    <div id="fadeout">Collecting Data...</div>

    <div class="instruc">
        <img id="zoom" src="/visualizer/resnet/textures/zoom.png" />
    </div>

    <div class="instruc">
        <img id="drag" src="/visualizer/resnet/textures/drag.png" />
    </div>

    <div class="sampleNotes">
    <div id="tip">Some text</div>
    </div>
</body>
</html>
