html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
  ========================================
  General styles
  ========================================
*/
*,
*:after,
*:before {
	box-sizing: border-box;
}
body {
	font: 16px 'Roboto', sans-serif;
}


/*
  ========================================
  Header
  ========================================
*/
header {
	text-align: center;
}
header h1 {
	font-size: 64px;
	font-weight: 300;
	margin: 80px 0 25px;
	color: #328EDE;
}
header h1 span {
	font-weight: 700;
}
header h2 {
	color: #ACC5DE;
}

/*
  ========================================
  Insert
  ========================================
*/

ul {
	display: flex;
	flex-flow: row wrap;
}

.app-insert {
	width: 800px;
	margin: 50px auto 20px;
}
.app-insert input {
	width: 100%;
	height: 60px;
	background: none;
	border: none;
	border-bottom: 1px solid #bdc3c7;
	outline: none;
	font: 300 28px 'Roboto', sans-serif;
	padding: 20px;
	text-align: center;
}

.example-insert {
	width: 800px;
	margin: 50px auto 20px;
}
.example-insert input {
	width: 100%;
	height: 60px;
	background: none;
	border: none;
	border-bottom: 1px solid #000;
	outline: none;
	font: 300 28px 'Roboto', sans-serif;
	padding: 20px;
	text-align: center;
}

/*
  ========================================
  List
  ========================================
*/

.label {
	width: 250px;
	height: auto;
}

.app-list {
	width: 1000px;
	height: 200px;
	margin: 0 auto;
}

.example-list {
	width: 800px;
	margin: 0 auto;
}
.task {
	width: 280px;
	height: 230px;
	line-height: 60px;
	padding: 20px;
	padding-top: 65px;
	margin: 20px;
	margin-bottom: 0;
	/*position: relative;*/
	color: #fff;
	font-size: 30px;
	font-weight: bold;
	text-align: center;
	background-color: inherit;
	transition: all .2s ease;
	border-radius: 20px;
	/*background-image: url("https://imgur.com/LpBjrXm.png/");*/
	background-size: 270px;

}



.task:hover {
	cursor: pointer;
}
.task:hover .remove-task {
	opacity: 1;
}

.box-buttons {
	margin-top: 30px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-content: stretch;
}

.remove-task {
	/*margin: 0 20px;*/
	margin: 10px;
	opacity: 1;
	position: relative;
	font-size: 12px;
	color: #fff;
	text-align: center;
	transition: all .2s ease;
	border: 1px;
	border-style: solid;
	border-color:#e6e6e6;
	padding: 0.375rem 0.75rem;
	line-height: 1.5;
	border-radius: 0.25rem;
}


.example {
	width: 100%;
	height: 60px;
	line-height: 60px;
	padding: 0 20px;
	position: absolute;
	color: #000;
	transition: all .2s ease;
}
.example:hover {
	color: #fff;
	background: #328EDE;
	cursor: pointer;
}
.example:hover .remove-example {
	opacity: 1;
}

.remove-example {
	opacity: 0;
	position: absolute;
	right: 20px;
	text-decoration: none;
	color: #fff;

	transition: all .2s ease;
}
.remove-task:hover {
	color: #333;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #000000;
}

#overlay {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0; 
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(1,1,1); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}

/*
  ========================================
  Reset
  ========================================
*/

