{{> header }}

<div class="vision-home">
    <h2 class="vision-home__title">Vision Classification</h2>
    <p class="vision-home__description">Train your computer to recognize images</p>

    <div class="vision-home__actions">
        <div class="vision-home__action">
            <h3>Create a New Classifier</h3>
            <p>Train a new image classifier with your own examples</p>
            <a href="/classify/vision/new" class="btn btn-primary">Create New Classifier</a>
        </div>

        <div class="vision-home__action">
            <h3>Use Existing Classifier</h3>
            <p>Test and use your trained classifiers</p>
            <a href="/classify/vision/classifiers" class="btn btn-secondary">View My Classifiers</a>
        </div>
    </div>

    <div class="vision-home__guide">
        <h3>Getting Started</h3>
        <p>To train a vision classifier:</p>
        <ol>
            <li>Create a new classifier and give it a name</li>
            <li>Add at least 2 labels (categories) for your classifier</li>
            <li>Upload at least 10 example images for each label</li>
            <li>Train your classifier</li>
            <li>Test your classifier with new images</li>
        </ol>
        <p>
            <a href="https://docs.google.com/document/d/1q8Cj9QhwjUXM51Qqtj3V3jYMFA44SiAAIZzVck7Efdc/view#heading=h.4jovbu2htq86" 
               target="_blank" class="btn btn-link">
                Read the full guide
            </a>
        </p>
    </div>
</div>

{{> footer }}
