html,body{
    height: 100%;
    margin: 0;
    overflow-y:hidden;
}

.progress{
    margin: 0;
    padding: 0;
    background-color: rgba(64,143,214,1);
    height:100%;
    width:100%;
}

.instruc{
    position: absolute; 
    top: 80%; 
    width: 100%;
    left:0%; 
    text-align: center;
    display: none;
}

.sampleNotes{
    position: relative;
    width: 10px;
}

#tip {
    position: absolute; 
    display: none;
}

#fadeout {
    position: absolute; 
    top: 55%; 
    text-align: center;
    font-size: 1.5em; 
    width: 100%;
    left:0%;
    color: white;
    animation: fade 1s infinite alternate;
}

@keyframes fade{
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}

@keyframes fadeZoom {
    0%{
        opacity: 0;
    }
    30%{
        opacity: 1;
    }
    90%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

@keyframes fadeDrag {
    0%{
        opacity: 0;
    }
    50%{
        opacity: 0;
    }
    55%{
        opacity: 1;
    }
    95%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

.dg.main.taller-than-window .close-button {
    border-top: 1px solid #ddd;
}

.dg.main .close-button {
    background-color: #ccc;
}
 
.dg.main .close-button:hover {
    background-color: #ddd;
}

.dg {
    color: #555;
    text-shadow: none !important;
}

.dg.main::-webkit-scrollbar {
    background: #fafafa;
}

.dg.main::-webkit-scrollbar-thumb {
    background: #bbb;
}
 
.dg li:not(.folder) {
    background: #fafafa;
    border-bottom: 1px solid #ddd;
}
 
.dg li.save-row .button {
    text-shadow: none !important;
}

.dg li.title {
    background: #e8e8e8 url(data:image/gif;base64,R0lGODlhBQAFAJEAAP////Pz8////////yH5BAEAAAIALAAAAAAFAAUAAAIIlI+hKgFxoCgAOw==) 6px 10px no-repeat;
}

.dg .cr.function:hover,.dg .cr.boolean:hover {
    background: #fff;
}
 
.dg .c input[type=text] {
    background: #e9e9e9;
}
 
.dg .c input[type=text]:hover {
    background: #eee;
}
 
.dg .c input[type=text]:focus {
    background: #eee;
    color: #555;
}
 
.dg .c .slider {
    background: #e9e9e9;
}

.dg .c .slider:hover {
    background: #eee;
}