<ul class="stepper stepper-vertical">


    <h1> Vison Classifer </h1>
    <li class="stepper__step">
        <span class="stepper__number">1</span>
        <div class="step__circle">
            <i></i>
        </div>
        <div class="step__description">
            <h2 class="step-headline">What is your project name?</h2>
            <p class="step__text">
                <form>
                    <div class="form-group">
                        {{!-- <label for="exampleInputEmail1">Name</label> --}}
                        <input type="email"
                            class="form-control"
                            id="exampleInputEmail1"
                            aria-describedby="emailHelp"
                            placeholder="Name">
                        {{!-- <small id="emailHelp"
                            class="form-text text-muted">codelab references this</small> --}}
                    </div>
                </form>
            </p>
        </div>
    </li>


    <li class="stepper__step">
        <span class="stepper__number">2</span>
        <div class="step__circle">
            <i></i>
        </div>
        <div class="step__description">
            <h2 class="step-headline">What are your Clarifai keys?</h2>
            <p class="step__text">
                <form>
                    <div class="form-group">
                        {{!-- <label for="exampleInputEmail1">Name</label> --}}
                        <input type="email"
                            class="form-control"
                            id="exampleInputEmail1"
                            aria-describedby="emailHelp"
                            placeholder="Name">
                        {{!-- <small id="emailHelp"
                            class="form-text text-muted">codelab references this</small> --}}
                    </div>

                    <span class="step__text-secondary">
                        <button class="btn btn-primary"
                            type="button">
                            Add
                        </button>
                    </span>
                    <span class="step__text-secondary">
                        <button class="btn btn-secondary"
                            type="button">
                            Delete
                        </button>
                    </span>
                </form>
                 <a href="#">
                    <small id="emailHelp"
                           class="form-text text-muted">How I do get a key?</small>
                 </a>
            </p>
        </div>
    </li>

    <li class="stepper__step">
        <span class="stepper__number">3</span>
        <div class="step__circle">
            <i></i>
        </div>
        <div class="step__description">
            <h2 class="step-headline">What categories should your model have?</h2>
            <p class="step__text">
                   <span>for example</span>
                        <ul>
                            <li>recognize<b><span> cats vs dogs</span></b></li>
                            <li><b>objects</b> <span> cups vs jars</span></li>
                            <li><b>expressions</b> <span> happy vs sad</span></li>
                        </ul>

                    <div class="category__container">
                        <div class="category__box">

                            <h4 class="category__name">cats</h4>

                            <!-- transform this input into a pond -->
                            <input type="file"
                                class="filepond js--classifier__upload-drop-zone"
                                name="filepond"
                                multiple
                                style=""
                                data-max-file-size="3MB"
                                data-max-files="3">
                        </div>

                        <button class="category__button--remove btn btn-primary" 
                            type="button">
                            X
                        </button>
                    </div>


                    <div class="category__container">
                        <div class="category__box">

                            <h4 class="category__name">dogs</h4>

                            <!-- transform this input into a pond -->
                            <input type="file"
                                class="filepond js--classifier__upload-drop-zone"
                                name="filepond"
                                multiple
                                style=""
                                data-max-file-size="3MB"
                                data-max-files="3">
                        </div>

                        <button class="category__button--remove btn btn-primary" 
                            type="button">
                            X
                        </button>
                    </div>

                    <div class="category__container">
                        <form class="category__new-form-container">
                            <div class="category__new-form-group">
                                <input type="email"
                                    class="form-control category__new-form"
                                    id="exampleInputEmail1"
                                    aria-describedby="emailHelp"
                                    placeholder="cfor example, cats">
                                 <button class="category__button--create d-inline-block btn btn-primary" 
                                        type="button">
                                        create class
                                    </button>
                                <span class="step__text-secondary"></span>
                            </div>
                        </form>
                    </div>
            </p>
        </div>
    </li>


   <li class="stepper__step">
        <span class="stepper__number">4</span>
        <div class="step__circle">
            <i></i>
        </div>
        <div class="step__description">
            <h2 class="step-headline"></h2>
            <p class="step__text">
                <span class="step__text-secondary">

                    
                </span>


                </span>
            </p>
        </div>
    </li>


                  

    <li class="stepper__step">
        <span class="stepper__number">5</span>
        <div class="step__circle">
            <i></i>
        </div>
        <div class="step__description">
            <h2 class="step-headline">Train</h2>
            <p class="step__text">
                <span class="step__text-secondary">
                    <button class="btn btn-primary"
                        type="button"
                        disabled>
                        <span class="spinner-border spinner-border-sm"
                            role="status"
                            aria-hidden="true"></span>
                        Loading...
                    </button>

                </span>
            </p>
        </div>
    </li>

    <li class="stepper__step">
        <span class="stepper__number">6</span>
        <div class="step__circle">
            <i></i>
        </div>
        <div class="step__description">
            <h2 class="step-headline">Predict</h2>
            <p class="step__text">
                <div class="step__model-info">
                </div>
                <span class="step__text-secondary">
                    <button class="btn btn-primary"
                        type="button">
                        Predict
                    </button>
                </span>
            </p>
        </div>
    </li>

    <li class="stepper__step">
        <span class="stepper__number">7</span>
        <div class="step__circle">
            <i></i>
        </div>
        <div class="step__description">
            <h2 class="step-headline">Play!</h2>
            <p class="step__text">
                <div class="">
                </div>
                <span class="step__text-secondary">
                    <button class="btn btn-primary"
                        type="button">
                        Load Project in Codelab
                    </button>
                </span>
            </p>
        </div>
    </li>

</ul>


<script>
    FilePond.registerPlugin(
        // FilePondPluginImagePreview,
        FilePondPluginFileValidateSize
    );

    FilePond.create(
        document.querySelector('.js--classifier__upload-drop-zone')
    );
</script>