{{> header }}

<ul class="nav 
          nav-tabs
          classifier__nav-tabs" 
    id="myTab" 
    role="tablist">

  <li class="nav-item classifier__nav-item">
    <a class="nav-link active" 
      id="home-tab" 
      data-toggle="tab" 
      href="#home" 
      role="tab" 
      aria-controls="home" 
      aria-selected="true">
        <h2>
          <i class="fas fa-plus"></i>
          <span>Create New</span>
        </h2>
    </a>
  </li>

  <li class="nav-item classifier__nav-item">
    <a class="nav-link" 
      id="profile-tab" 
      data-toggle="tab" 
      href="#profile" 
      role="tab" 
      aria-controls="profile" 
      aria-selected="false">
        <h2>
          <i class="fas fa-eye"></i>
          <span>Explore Existing</span>
        </h2>
    </a>
  </li>
  
</ul>

<div class="tab-content " id="myTabContent" class="classifier__tabs">
  <div class="tab-pane classifier__tab fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
    {{> vision__create }}
  </div>

  <div class="tab-pane classifier__tab fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
    {{> vision__explore }}
  </div>
</div>

{{> footer }}

<!-- custom template for predict dropzone -->
<div id="dropzonePredictTemplate">
    <div class="dz-preview dz-file-preview">
      <div class="dz-details">
        <img data-dz-thumbnail />
        <div class='dz-filename'><span data-dz-name></span></div>
        <div class='dz-size' data-dz-size></div>
      </div>
      
      <div class="dz-progress">
        <span class="dz-upload" data-dz-uploadprogress></span>
        </div>

      <div class="dz-success-mark">
        <i class="fas fa-times"></i>
      </div>
      <div class="dz-error-mark">
        <i class="fas fa-check"></i>
        </div>
      <div class="dz-error-message"><span data-dz-errormessage></span></div>
    </div>
</div>

<script>
    $(function() {
        $('.js--open-help').on('click', function(e){
            const section = $(e.target).closest('.step__body');
            $(section).find('.step__help').toggle();
            event.preventDefault(); // to keep from scrolling
        });

      const player = new Plyr('#js-classifier__video--clarifai');


        // see full docs / events / config here: https://www.dropzonejs.com/#configuration
        // We'll manually create dropzone instances to control the options
        Dropzone.autoDiscover = false;


        // this doesnt work, not sure why. getting error in console
        // var a = new Dropzone("div#my-awesome-dropzone", { 
        //     url: "/file/post"
        // });

// --------
        
    // this only works if Dropzone.autoDiscover = true, 
    // but  these options arent applied. ORiginal styling works
    var a = $("div#my-awesome-dropzone").dropzone({ 
        url: "/file/post" ,
        maxFilesize: 5, //  MB
        acceptedFiles: "image/*",
        addRemoveLinks: true //  enable person to del file
    });

    // a.on("maxfilesexceeded", function(file) { 
    //     console.log('maxfilesexceededs'); 
    //     this.removeFile(file); 
    // });
    
    //  a.on("maxfilesreached", function(file) {
    //       console.log('maxfilesreached');
    //       this.removeFile(file);
    //     });

// --------

        // custom insertion container 
        // not using template, but not reverting to original design.
        const dropzoneCategoriesEl = "#js--dropzone-categories";
        const dropzoneCategories = new Dropzone(dropzoneCategoriesEl, { 
            url: "/file/post" ,
            paramName: "category-image", 
            maxFilesize: 5, //  MB
            maxFiles: 1,
            dictRemoveFile: "", 
            acceptedFiles: "image/*",
            addRemoveLinks: true, //  enable person to del file
            thumbnailWidth: 80,
            thumbnailHeight: 80,
            previewsContainer: document.querySelector('.js--dropzone__previews-container--categories')   
        });
// --------


        // custom insertion and template, but design needs work, particularly the animations
        // checkmark and error icons are not fading out on load and progress isnt working 
        const dropzonePredictEl = "#js--dropzone-predict";
        const dropzonePredict = new Dropzone(dropzonePredictEl, { 
            url: "/file/post",
            paramName: "prediction-image", 
            maxFilesize: 5, //  MB
            maxFiles: 1,
            dictRemoveFile: "", 
            uploadMultiple: false,
            acceptedFiles: "image/*",
            addRemoveLinks: true, //  enable person to del file
            thumbnailWidth: 80,
            thumbnailHeight: 80,
            previewsContainer: document.querySelector('.js--dropzone__previews-container--predict'),
            previewTemplate: document.querySelector('#dropzonePredictTemplate').innerHTML // use a custom HTML template
        });


        //  dropzonePredict.on("maxfilesreached", function(file) {
        //   console.log('maxfilesreached');
        // });

        dropzonePredict.on("maxfilesexceeded", function(file) { this.removeFile(file); });

        // dropzonePredict.on("complete", function(file) {
        //   // $(dropzonePredictEl).find('.dz-progress').fadeOut(300);
        //   // $(dropzonePredictEl).find('.dz-success-mark').fadeOut(500);
        //   // $(dropzonePredictEl).find('.dz-error-mark').fadeOut(600);

        // });

        // dropzonePredict.on("drop", function(maxfilesreached) {
        //     console.log('file dropped');
        //     // console.log("dropzonePredict.files.length: ", dropzonePredict.files.length)
       
        //     if(maxfilesreached + 1) {
        //         // dropzonePredict.removeFile(file)
        //         console.log('max files reached')
        //     }
        //   $(dropzonePredictEl).find('.dropzone__header').toggle();

        // });

    });

    $(document).ready(function init() {
      $('#button_apikey').click(function () {
        if ($('#input_apikey').val() == '') {
          alert('API Key cannot be empty');
          return;
        }
        window.apiKey = $('#input_apikey').val();
        // loadUserClassifiers();
      })
    });

    function loadUserClassifiers() {
      $.ajax({
           url: "/vision/classifiers",
           type: "GET",
           headers: { 'apiKey': window.apiKey },
           success: function (data) {
             if(data.error == null) {
               window.userClassifiers = data.classifiers;
             } else {
               window.userClassifiers = [];
             }
             displayClassifiers();
           },
           error: function (data) {
             console.log(data);
             window.userClassifiers = [];
           }
        });
    }

    function createClassifier() {
      if (window.labels == undefined || window.labels.length < 2) {
        alert('Two or more categories are required to train');
        return
      }
      var error = false
      for (var idx = 0, label = window.labelListItems[idx]; idx < window.labelListItems.length; idx++) {
        if (window.examples[label].length < 10) {
          alert('10 or more examples required for each label');
          error = true;
          break;
        }
      }
      if(error == true) {
        return;
      }
      var requestData = {};
      requestData.name = window.classifierName;
      requestData.training_data = [];
      window.labels.forEach((label) => {
        label_items = [];
        window.examples[label].forEach((example) => {
          var image_file = example.split(',')[1];
          label_items.push(image_file);
        })
        requestData.training_data.push({label: label, label_items: label_items});
      })
      $.ajax({
        url: '/vision/classifier',
        type: 'POST',
        dataType: 'json',
        contentType: "application/json; charset=utf-8",
        data: JSON.stringify(requestData),
        headers: { apikey: window.apiKey },
        success: function (data) {
          if(data.error != null) {
            alert(data.error);
            return;
          }
        }
      });
    }

    function classifyImage() {

    }

</script>
