{{> header }}

<ul class="nav 
          nav-tabs
          classifier__nav-tabs" 
    id="myTab" 
    role="tablist">

  <li class="nav-item classifier__nav-item">
    <a class="nav-link active" 
      id="home-tab" 
      data-toggle="tab" 
      href="#home" 
      role="tab" 
      aria-controls="home" 
      aria-selected="true">
        <h2>
          <i class="fas fa-plus"></i>
          <span>Create New</span>
        </h2>
    </a>
  </li>

  <li class="nav-item classifier__nav-item">
    <a class="nav-link" 
      id="profile-tab" 
      data-toggle="tab" 
      href="#profile" 
      role="tab" 
      aria-controls="profile" 
      aria-selected="false">
        <h2>
          <i class="fas fa-eye"></i>
          <span>Explore Existing</span>
        </h2>
    </a>
  </li>
  
</ul>

<div class="tab-content " id="myTabContent" class="classifier__tabs">
  <div class="tab-pane classifier__tab fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
    {{> vision__create }}
  </div>

  <div class="tab-pane classifier__tab fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
    {{> vision__explore }}

  </div>
</div>

{{> footer }}

<!-- custom template for predict dropzone -->
<div id="dropzonePredictTemplate">
    <div class="dz-preview dz-file-preview">
      <div class="dz-details">
        <img data-dz-thumbnail />
        <div class='dz-filename'><span data-dz-name></span></div>
        <div class='dz-size' data-dz-size></div>
      </div>
      
      <div class="dz-progress">
        <span class="dz-upload" data-dz-uploadprogress></span>
        </div>

      <div class="dz-success-mark">
        <i class="fas fa-times"></i>
      </div>
      <div class="dz-error-mark">
        <i class="fas fa-check"></i>
        </div>
      <div class="dz-error-message"><span data-dz-errormessage></span></div>
    </div>
</div>
