*,
*:after,
*:before {
    box-sizing: border-box;
}

body {
    font: 16px 'Roboto', sans-serif;
}

:root {
  --main-color: #ACC5DE;
  --secondary-color: --secondary-color;
  --light-main-color: rgba(172, 197, 222, 0.8);
  --accent-color: #3acefc;
  --gray: #979797;
}

h3 {
    color: --main-color;
}

.btn-primary {
    background-color: --main-color;
    border-color: #29AFCF;
    margin: 0 auto;
    font-weight: bold;
}

.btn-primary:hover {
    background-color: --secondary-color;
    border-color: --secondary-color;
}

.btn-danger {
    background-color: --secondary-color;
    border-color: --secondary-color;
}

.btn-success {
    background-color: --main-color;
    border-color: --main-color;
}

.btn-success:hover {
    background-color: --secondary-color;
    border-color: --secondary-color;
}

btn btn-primary btn-lg btn-block {
    color: --main-color;
}
