{{> header }}

<div class="classifier__banner-image-container
            classifier__banner-image-container--text">
  <img src="/images/nlc_banner.png"
        class="js-classifiers__card--image classifier__banner-image
            card-img-top
            classifiers__card-image"
        alt="Train a Text Classifier">
</div>

<ul class="nav
          nav-tabs
          classifier__nav-tabs"
    id="classifier__tabs"
    role="tablist">

  <li class="nav-item classifier__nav-item">
    <a class="js--nav__tab--create nav-link classifier__nav-link active"
      data-toggle="tab"
      href="#home"
      role="tab"
      aria-controls="home"
      aria-selected="true">
        <h2>
          <i class="fas fa-plus"></i>
          Create
          Model
        </h2>
    </a>
  </li>

  <li class="nav-item classifier__nav-item--or">
    <h2>
      &mdash; or &mdash;
    </h2>
  </li>

  <li class="nav-item classifier__nav-item">
    <a class="js--nav__tab--explore nav-link classifier__nav-link"
      id=""
      data-toggle="tab"
      href="#explore"
      role="tab"
      aria-controls="profile"
      aria-selected="false">
        <h2>
          <i class="fas fa-eye"></i>
          Explore Your
          Models
        </h2>
    </a>
  </li>
</ul>

<div class="tab-content " id="myTabContent" class="classifier__tabs">
  <div class="js--classifier__tab--create tab-pane classifier__tab fade show active"
      role="tabpanel"
      aria-labelledby="home-tab">
    {{> text__create }}
  </div>

  <div class="js--classifier__tab--explore tab-pane classifier__tab fade"
        role="tabpanel"
        aria-labelledby="profile-tab"
        style="display: none !important">
    {{> text__explore }}
  </div>

</div>

{{> footer }}

<script>
    $(function() {

    /// set up info icon toggles
    $('.js--open-help').on('click', function(e){
        const section = $(e.target).closest('.step__body');
        $(section).find('.step__help').toggle();
        event.preventDefault(); // to keep from scrolling
    });

      /// set up video embeds
    const player = new Plyr('#js-classifier__video--clarifai');

    // set up page tabs
    $('#classifier__tabs a').on('click', function (e) {
      e.preventDefault()
    })

    $('.js--nav__tab--create').on('click', function (e) {
        showCreateTab(true);
        showExploreTab(false);
    });

    $('.js--nav__tab--explore').on('click', function (e) {
        showCreateTab(false);
        showExploreTab(true);
    });

    function showCreateTab(show) {
        const tabContent = $('.js--classifier__tab--create');
        if (show) {
            tabContent.addClass('show active');
            tabContent.show();
            tabContent.attr('style', '')
        } else {
            tabContent.removeClass('show active');
            tabContent.hide();
            tabContent.attr('style', 'display:none !important');
        }
    }

    function showExploreTab(show) {
        const tabContent = $('.js--classifier__tab--explore');
        if (show) {
            tabContent.addClass('show active');
            tabContent.show();
            tabContent.attr('style', '')
        } else {
            tabContent.removeClass('show active');
            tabContent.hide();
            tabContent.attr('style', 'display:none !important');
        }
    }
    });

    $(document).ready(function init() {

      window.training_data = {};
      window.top_class = [];

      $('form').submit(false);

      $('#input_projectName').on('input', function () {
        if ($(this).val().length > 0) {
          window.projectName = $(this).val();
        }
      });

      $('.project-name__remove-button').click(function(){
        window.projectName = '';
        var x = document.getElementById("set__username__input");
        x.style.display = 'flex';
        var y = document.getElementById('project-name__show');
        y.style.display = 'none';
      })

      //set explore project name
      $('.explore-project-name__remove-button').click(function(){
        window.projectName = '';
        var x = document.getElementById("explore-set-project-name");
        x.style.display = 'flex';
        var y = document.getElementById('explore-project-name__show');
        y.style.display = 'none';
        selectClassifier();
      })

    //setting project name stuff
    $('#input_projectName').keypress((e) => {
          if (e.which == 13) {
              $('#input_projectName').trigger('click');
              e.preventDefault();
              return false;
          }
    });

    $('#button_set_project_name').click(function () {
      if ($('#input_projectName').val() == '') {
        makeNotification('Enter a project name.', 'warning');
        return;
      }
      window.projectName = $('#input_projectName').val();
      var x = document.getElementById("set__username__input");
      x.style.display = 'none';
      var y = document.getElementById('project-name__show');
      $('#project-name__value__result').text(window.projectName);
      y.style.display = 'block';
    });

    //category name stuff
      $('#input_categoryName').keypress((e) => {
          if (e.which == 13) {
              $('#button_categoryName').trigger('click');
              e.preventDefault();
              return false;
          }
      });

      $('#button_categoryName').click(function () {
        if ($('#input_categoryName').val() == '') {
          makeNotification('Enter a category to train.', 'warning');
          return;
        }

        // TODO: Sanitize categoryName before further processing
        var categoryName = $('#input_categoryName').val().replace(/\s/g, '');;
        if (window.training_data.hasOwnProperty(categoryName)) {
          makeNotification('A category with this name already exists. Enter a different name.', 'warning');
          return;
        }

        var format = /[ !@#$%^&*()_+\-=\[\]{};':"\\|,.<>\/?]/;
        if (format.test(categoryName) != false) {
            makeNotification('Category name should have only letters and numbers.', 'warning');
            return;
        }

        window.training_data[categoryName] = [];
        console.log(window.training_data);
        createCategoryHTMLElement(categoryName);
        $('#input_categoryName').val('');
      });

      $('.js--train__button').on('click', function () {
          if (!window.projectName) {
              makeNotification('Please set a project name first.', 'warning');
              return;
          }

          var format = /[!@#$%^&*()_+\-=\[\]{};':"\\|,.<>\/?]/;
          if (format.test(window.projectName) != false) {
              makeNotification('Project name should have only letters and numbers.', 'warning');
              return;
          }

          setTrainButtonState('training');
          preprocessTrainData();
      });

    //create extension url in create tab
    $('.js--classifier__open__codelab').on('click', function(){
        if(window.projectName) {
          var extensionUrl = `/text/extension/${window.projectName}`;
          window.open(extensionUrl);
        } else {
          makeNotification('Please train a project first.', 'warning');
        }
    })

    //create extension url in explore tab
    $('.js--explore__open__codelab').on('click', function() {
      if(window.projectName) {
        var extensionUrl = `/text/extension/${window.projectName}`;
        window.open(extensionUrl);
      } else {
        makeNotification('Please select a project first.', 'warning');
      }
    });

    function createCategoryHTMLElement(categoryName) {
        const htmlStructure = `
          <div class="category__container tag-contain-${categoryName}">
            <div class="category__box
                        category__box--solid
                        category__box--text">
              <div class="category__name">${categoryName}</div>
              <input type="text" id="${categoryName}"
                    class="category__tag-select-container-${categoryName}">
              <a href="#" class="category--text__remove-button
                               btn btn-primary
                               js--${categoryName}-category--text__remove"
                        role="button">
                <i class="fas fa-times"></i>
              </a>
            </div>
          </div>`;
        const htmlElement = $(htmlStructure);
        const categoriesContainerElement = $('#categoriesContainer');
        categoriesContainerElement.append(htmlElement);
        initTextClass(categoryName);
    }

    function initTextClass(categoryName) {
      const textBoxFormClass = `.category__tag-select-container-${categoryName}`;
      const textBoxRemoveClass = `.js--${categoryName}-category--text__remove`;
      $(textBoxRemoveClass).click((e) => {
          e.preventDefault();
          removeCategory(categoryName);
      });

      $(textBoxFormClass).selectize({
        delimiter: ',',
        persist: false,
        highlight: false,
        plugins: ['remove_button'],
        openOnFocus: false,
        hideSelected: false,
        placeholder: 'Enter 10 words for ' + categoryName,
        render: {
            item: function(data, escape) {
              return `
              <div class='item'>
                <div class='label'>${escape(data.text)}</div>
            </div>`;
            }
          },
        create: function(input) {
            return {
                value: input,
                text: input
            }
        },
        onDropdownOpen: function(dropdown) {
          dropdown.remove();
        },
        onChange: function(values) {
          if (!window.training_data[categoryName]) {
            window.training_data[categoryName] = [];
          }
          window.training_data[categoryName] = values || [];
        }
      });
    }

    function removeCategory(categoryName){
       if (window.training_data == undefined || !window.training_data.hasOwnProperty(categoryName)) {
            return;
        }
        const tagCategoryContain = `.tag-contain-${categoryName}`;
        const tagBoxCategoryClass = `.category__tag-select-container-${categoryName}`;
        const tagBoxName = `.category-header-${categoryName}`;
        const boxOutline = `.box_outline-${categoryName}`;
        const tagBoxRemoveClass = `.js--${categoryName}-category--text__remove`;
        delete window.training_data[categoryName];
        $(tagBoxRemoveClass).unbind();
        $(tagBoxCategoryClass).remove();
        $(tagCategoryContain).remove();
        $(tagBoxName).remove();
        $(boxOutline).remove();
        $(tagBoxRemoveClass).remove();
    }

    function setTrainButtonState(state) {
        if (state == 'normal') {
            $('.js--train__button').removeAttr('disabled');
            $('#span_train').removeClass('spinner-grow spinner-grow-sm');
            $('#span_train_status').html('Train Model');
        } else if (state == 'training') {
            $('.js--train__button').attr('disabled', '');
            $('#span_train').addClass('spinner-grow spinner-grow-sm');
            $('#span_train_status').html('Training Model');
        } else if (state == 'finished') {
            $('.js--train__button').removeAttr('disabled');
            $('#span_train').removeClass('spinner-grow spinner-grow-sm');
            $('#span_train_status').html('Done');
            $('.js--train__button').unbind();
        }
    }

    async function preprocessTrainData() {
        setTrainButtonState('training');
        try {
            validateTrainingData();
            await createClassifier();
            setTrainButtonState('finished');
            setClassifierStatus();
            setAutoRefreshStatus(true);
        } catch (error) {
            console.log(error);
            setTrainButtonState('normal');
        }
    }

    function validateTrainingData() {
        if (window.training_data === undefined || Object.keys(window.training_data).length < 2) {
            makeNotification('Create at least 2 categories.', 'warning');
            throw new Error("Create at least 2 categories.");
        }
        for (const className of Object.keys(window.training_data)) {
            const selectizeInput = $(`.category__tag-select-container-${className}`)[0].selectize;
            const values = selectizeInput.getValue();
            if (values === undefined || values.length < 10) {
              makeNotification(`Create at least 10 examples for ${className} category.`, 'warning');
              throw new Error(`Create at least 10 examples for ${className} category.`);
            }
            window.training_data[className] = values;
        }
        console.log(training_data);
    }

    function createClassifier() {
        return new Promise((resolve, reject) => {
            $.ajax({
                url: '/text/train',
                type: 'POST',
                dataType: 'json',
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify({
                    training_data: window.training_data,
                    classifier_name: window.projectName
                }),
                success: function (data) {
                    if(data.error != null) {
                        makeNotification('Oops. ' + data.error, 'error');
                        reject(new Error(data.error));
                        return;
                    }
                    window.classifier_status = 'successfully';
                    resolve();
                },
                error: function (error) {
                    console.error('Training error:', error);
                    makeNotification('Training failed. Please try again.', 'error');
                    reject(error);
                }
            });
        });
    }

    function setClassifierStatus() {
        const classifierUploadProgressClass = ".js--train-results__upload_progress";
        const classifierNameClass = ".js--train-results__name";
        const classifierStatusClass = ".js--train-results__status";
        const classifierRefreshSpinnerClass = ".js--train-results__status_spinner";
        $(`${classifierNameClass}--set`).html(window.projectName);
        $(`${classifierStatusClass}--set`).html(window.classifier_status);
        $(classifierNameClass).show();
        $(classifierStatusClass).show();
        $(classifierUploadProgressClass).hide();
        if (window.classifier_status.includes('successfully')) {
            $(classifierRefreshSpinnerClass).hide();
            setAutoRefreshStatus(false);
        } else {
            $(classifierRefreshSpinnerClass).show();
        }
    }

    function setAutoRefreshStatus(autoRefresh) {
      if (!autoRefresh) {
          if (window.autoRefreshTimer != undefined) {
              clearInterval(window.autoRefreshTimer);
              window.autoRefreshTimer = undefined;
          }
      } else {
          window.autoRefreshTimer = setInterval(() => {
              {{!-- loadUserClassifier(window.projectName); --}}
          }, 2000);
      }
    }

    //setting the explore project name
    $('#input_exploreProjectName').keypress((e) => {
          if (e.which == 13) {
              $('#button_projectName').trigger('click');
              e.preventDefault();
              return false;
          }
      });

      $('#button_exploreProjectName').click(function () {
        if ($('#input_exploreProjectName').val() == '') {
            makeNotification('Enter a project name.', 'warning');
            return;
        }
        window.projectName = $('#input_exploreProjectName').val();
        $('#explore-project-name__value__result').text(window.projectName);
        var y = document.getElementById('explore-set-project-name');
        y.style.display = 'none';
        var x = document.getElementById('explore-project-name__show');
        x.style.display = 'block';
      });

    //predicting text in create tab
    $('#input_predictText').keypress((e) => {
          if (e.which == 13) {
              $('#button_predictText').trigger('click');
              e.preventDefault();
              return false;
          }
      });

      $('#button_predictText').click(function () {
        if ($('#input_predictText').val() == '') {
          makeNotification('Enter a phrase to predict.', 'warning');
          return;
        }

        var phraseToPredict = $('#input_predictText').val();
        $.ajax({
            url: "/text/classify",
            type: "POST",
            contentType: "application/json",
            data: JSON.stringify({
                classifier_name: window.projectName,
                phrase: phraseToPredict
            }),
            success: function(data) {
                if(data.error == null) {
                    window.predict_done = 'success';
                    showClassification(data);
                } else {
                    window.predict_done = 'fail';
                    makeNotification('Oops. ' + data.error, 'error');
                }
            },
            error: function (error) {
                console.error('Classification error:', error);
                makeNotification('Classification failed. Please try again.', 'error');
             }
        })
      });

    //predicting in the explore tab
    $('#input_explore_predictText').keypress((e) => {
        if (e.which == 13) {
            $('#button_explore_predictText').trigger('click');
            e.preventDefault();
            return false;
        }
    });

    $('#button_explore_predictText').click(function () {
    if ($('#input_explore_predictText').val() == '') {
        makeNotification('Enter a phrase to predict.', 'warning');
        return;
    }

    var phraseToPredict = $('#input_explore_predictText').val();
    const predictRefreshSpinnerClass = ".js--results__status_spinner";
    $(predictRefreshSpinnerClass).show();
    $.ajax({
        url: "/text/classify",
        type: "POST",
        contentType: "application/json",
        data: JSON.stringify({
            classifier_name: window.projectName,
            phrase: phraseToPredict
        }),
        success: function(data) {
            if(data.error == null) {
                window.predict_done = 'success';
                showClassification(data);
            } else {
                makeNotification('Oops. ' + data.error, 'error');
            }
        },
        error: function (error) {
            console.error('Classification error:', error);
            makeNotification('Classification failed. Please try again.', 'error');
            }
    })
    });

    //helper functions for predicting
    function showClassification(response) {
        window.top_class = findTopClass(response);
        console.log(top_class);

        if(window.predict_done === 'success'){
          console.log('somewhere here?');
          const resultsLabel = ".js--predict--label-results";
          const resultsScore = ".js--predict--confidence-results";
          const resultsShow = ".js--predict-results__name"
          $(resultsLabel).html(window.top_class[0]);
          $(resultsScore).html(window.top_class[1].toString().concat('%'));
          $(resultsShow).show();
        }
    }

    function findTopClass(data) {
        var max = 0;
        var top;
        Object.keys(data).forEach(function(key) {
        if (data[key]["p"] > max) {
            max = data[key]["p"]
            top = data[key]["className"]
        }
        });
        max = 100*max;
        return [top, max];
    }

    });
</script>
