{{> header }}

<header class="main-header">
  <h1 id="classifierTitle"></h1>
</header>

<div class="container text-center">
  <div class="row">
    <br><br>
    <form id="predictionForm">
        <div class="form-group">
          <div class="col-sm-6 offset-sm-3">
          <input class="form-control input-lg" id="username" type="text" placeholder="uClassify username">
          
        </div>
          <br><br><br>
          <div class="col-sm-12">
          <input class="form-control input-lg space" id="predictionInput" type="text">
        </div>
        </div>
      </form>

      <div class="btn btn-primary btn-lg space" id="predictButton">
                Predict
      </div>

      <div class="btn btn-danger btn-lg space" id="deleteClassifier">
                Delete Classifier
      </div>
      <br><br>
      <div class="row">
        <h2 class="answer fadeInUp" id="prediction"></h2>
      </div>
  </div>
  </div>

  <br>



  <br>
  <div class="row">
    <ul class="list-group" id="labelList">
    </ul>
  </div></div>
</div><br>

<script>
  function init() {
    if (window.localStorage.getItem('token_expiry') != 'null') {
      if (parseInt(window.localStorage.getItem('token_expiry')) < new Date().getTime()) {
        window.localStorage.setItem('access_token', null)
        window.localStorage.setItem('token_expiry', null)
        window.location.replace("/");
      } else {

        if(window.localStorage.getItem('selectedClassifier') == 'null') {
          window.location.replace("/text_home");
          return
        }
        window.access_token = window.localStorage.getItem('access_token')
        loadUserClassifier(window.localStorage.getItem('selectedClassifier'));
        return
      }
    } else {
      window.location.replace("/");
      return
    }

  }

  $(document).ready(function(){
    // $('#logoutButton').click(function(evt) {
    //   evt.preventDefault();
    //   window.localStorage.setItem('access_token', null)
    //   window.localStorage.setItem('token_expiry', null)
    //   window.location.replace("/");
    //   return false;
    // })

    $('#predictionForm').submit(function() {
      var predictionInput = $('#predictionInput').val()
      var username = $('#username').val()
      console.log(username)
      if(predictionInput != null && username != null) {
        classify(predictionInput, username);
      }
      return false;
    });

    $('#predictButton').click(function(evt) {
      evt.preventDefault();
      var predictionInput = $('#predictionInput').val()
      var username = $('#username').val()
      if(predictionInput != null) {
        classify(predictionInput, username);
      }
      return false;
    });


    $('#refreshClassifier').click(function(evt) {
      evt.preventDefault();
      loadUserClassifier(window.localStorage.getItem('selectedClassifier'));
      return false;
    });

    $('#deleteClassifier').click(function(evt) {
      evt.preventDefault();
      deleteClassifier()
      return false;
    });

    init();
  });


  function loadUserClassifier(classifier_id) {
    $.ajax({
         url: "/text/classifier",
         type: "GET",
         headers: { 'token': window.access_token },
         data: { classifier_id: classifier_id},
         success: function (data) {
           if(data.error == null) {
             window.userClassifier = data
             displayClassifierDetails()
           } else {
             alert(data.error)
           }
         },
         error: function (data) {
           console.log(data);
           window.userClassifiers = []
         }
      });
  }

  function displayClassifierDetails() {
      if(window.userClassifier == null) {
        window.localStorage.setItem('selectedClassifier', null)
        window.location.replace('/text_home')
        return
      }
      classifier = window.localStorage.getItem("temp_classifierName")
      $('#classifierTitle').html(classifier)
  }


  function deleteClassifier() {
    $.ajax({
         url: "/text/classifier",
         type: "DELETE",
         data: { classifier_id: window.userClassifier.classifier_id },
         success: function (data) {
           if(data.error == null) {
             window.location.replace('/text_home')
           } else {
             alert(data.error)
           }
         },
         error: function (data) {
           alert(data.message)
           console.log(data);
         }
      });
  }


  function classify(phrase, username) {
    $.ajax({
         url: "/text/classify",
         type: "POST",
         data: { token: window.localStorage.getItem('text_readapiKey'),
                  phrase: phrase, classifier_id: window.localStorage.getItem("temp_classifierName"),
                  classify_username: username },
         success: function (data) {
          console.log("answer", data)
           if(data.error == null) {
            var top = findTopClass(data)
             //alert(findTopClass(data));
             console.log(top)
             $("#prediction").html(top);
           } else {
             alert(data.error)
           }
         },
         error: function (data) {
           console.log(data);
           window.userClassifiers = []
         }
      });
  }

  function findTopClass(data) {
    var max = 0;
    var top;
    Object.keys(data).forEach(function(key) {
      if (data[key]["p"] > max) {
        max = data[key]["p"]
        top = data[key]["className"]
      }
    });
    return top
  }
</script>

