@import 'variables';
@import 'mq';

.dropzone {
    border: 0;
}

// Dropzone.js overrides
.dropzone--predict {
    align-items: center;
    justify-content: center;
    min-height: auto;
    border: none;
    background: transparent;
    padding: 0;
    transition: 0.1s ease-in all;
    padding: 0.75rem;
}

.dz-preview .dz-image {
    border-radius: 0;
    border: 1px solid #cdcdcd;
    overflow: hidden;
    width: 80px;
    height: 80px;
    background: #fafafa;
    transition: 0.1s ease-in all;
}
    
.dz-message {
    margin: 0;
    display: none;
}

.dz-preview,
.dz-processing,
.dz-image-preview,
.dz-error, 
.dz-complete {
    display: inline-block;
    position: relative;
}

.dz-preview.dz-image-preview {
    display: inline-block;
    position: relative;
    background-color: transparent;
}

.dropzone-previews {
    padding: 0.25rem 0.75rem;
}

.dropzone__error-container {
    color: red;
}

.dropzone--predict .dropzone-previews {
    justify-content: center;
}

.dz-preview {
    margin: 0.25rem;
}

.dz-preview .dz-details {
    z-index: 20;
    position: static;
    top: auto;
    left: auto;
    opacity: 1;
    font-size: 13px;
    min-width: auto;
    max-width: auto;
    padding: 0;
    text-align: center;
    color: #c1c1c1;
    line-height: 1;
}

.dz-drag-hover {
    border: 0;
    box-shadow: inset 0 0 0 -1px red;
    background: #e6e9ff;
}

.dz-preview .dz-details .dz-filename:not(:hover) span {
    border: none;
}

.dz-preview .dz-details .dz-filename {
    display: none;
    background-color: none;
    padding: 0;
    border-radius: 0;
    color: black; 
    font-size: 0.7rem;
    line-height: 0.8rem;
    color: #8e8e8e; 
}

.dz-preview .dz-details .dz-size span {
    color: #ababab;
    font-size: 0.7rem;
    letter-spacing: 0.2px;
}

.dz-preview .dz-details .dz-size {
    margin: 0.25rem;
}

.dz-preview:hover .dz-image img {
    transform: scale(1.1, 1.1);
    filter: none;
    transition: 0.2s ease-in all;
}

.dz-preview .dz-error-message {
    display: none !important;
}

.dz-preview .dz-details .dz-size {
    font-size: 0.8rem;
}

.dz-preview .dz-success-mark, 
.dz-preview .dz-error-mark {

    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -1rem; // offset from the preview details to keep it centered vertically
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    font-size: 2rem;
    text-shadow: 4px 2px 0px $pink;
    color: white;
    cursor: pointer;

    // Temporary: until we can figure out animations and how this works with layers
    display: none;
} 

.dz-progress {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    top: 0;
    z-index: 1;
}

.dz-remove {
    position: absolute;
    z-index: 1;
    right: 0;
    top: 0;
}

.dz-remove::after {
    content: "\f00d";
    font-family: "Font Awesome 5 Free";
    font-size: 0.71rem;
    font-weight: 700;
    position: absolute;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 1.1rem;
    width: 1.1rem;
    top: -0.25rem;
    right: -0.4rem;
    padding: 0;
    background: #c5c5c5;
    color: white;
    border-radius: 50%;
    border: 0;
    transition: 0.1s ease-in all;
}

.dz-remove:hover::after {
    background-color: $accent-color;
    border-color: $accent-color;
}

/* Step 1: Common Properties: All required to make icons render reliably */
.icon::before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

/* Step 2: Reference Individual Icons */
.login::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f007";
}

/* Note: Make sure to include the correct weight and unicode value for the icon */
.tps::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
  content: "\f1ea";
}

#dropzonePredictTemplate {
    display: none;
}

.dropzone__header--hidden {
    opacity: 0;
    height: 0;
}
