// filepond overrides
.filepond--item {

}







// css by default doesnt let us change the spacing between dashes. 
// use a technique of pseudo elements + with background-image
// adapted from https://codepen.io/Elyx0/pen/bLldB



.filepond {
	    height: auto !important;
	display: block;
	background-color: rgba(0, 0, 0, 0.05);
	overflow: hidden;
	text-align: center;
	padding-top: 110px;
	color: transparent;
	font-size: 40px;
	text-shadow: 1px 1px 0.08px rgba(0, 0, 0, 0.1);
}

@keyframes move-top {
	0% {
		background-position: 0 0;
	}

	100% {
		background-position: 10px 0px;
	}

}

@keyframes move-bottom {
	0% {
		background-position: 0 0;
	}

	100% {
		background-position: -10px 0px;
	}

}

@keyframes move-left {
	0% {
		background-position: 0 0;
	}

	100% {
		background-position: 0px -10px;
	}

}

@keyframes move-right {
	0% {
		background-position: 0 0;
	}

	100% {
		background-position: 0px 10px;
	}
}

.animate {
	.leftright {
		&:after {
			animation: move-left 1s linear infinite;
		}

		&:before {
			animation: move-right 1s linear infinite;
		}

		&:after,
		&:before {
			background-image: linear-gradient(
				to top,
				#0079b8 70%,
				rgba(255, 255, 255, 0) 0%
			);
		}

	}

	.topbottom {
		&:after {
			animation: move-top 1s linear infinite;
		}

		&:before {
			animation: move-bottom 1s linear infinite;
		}

		&:after,
		&:before {
			background-image: linear-gradient(
				to right,
				#0079b8 50%,
				rgba(255, 255, 255, 0) 0%
			);
		}

	}

}

.topbottom,
.leftright {
	position: absolute;
	width: 100%;
	height: 100%;
}

.leftright:after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	top: 0;
	right: 2px;
	height: 100%;
	width: $filepond--border-width;
	background-image: linear-gradient(
		to top,
		#7f7f7f $filepond--dashed-percent,
		rgba(255, 255, 255, 0) 0%
	);
	background-position: bottom;
	background-size: $filepond--border-width 11px;
	background-repeat: repeat-y;
	/*background-color:red;*/
}

.leftright:before {
	content: "";
	position: absolute;
	bottom: 0;
	top: 0;
	right: 0px;
	height: 100%;
	width: $filepond--border-width;
	background-image: linear-gradient(
		to top,
		#7f7f7f $filepond--dashed-percent,
		rgba(255, 255, 255, 0) 0%
	);
	background-position: bottom;
	background-size: $filepond--border-width 11px;
	background-repeat: repeat-y;
	/*background-color:red;*/
}

.topbottom:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: $filepond--border-width;
    width: 100%;
    background-image: linear-gradient(to right, #7f7f7f $filepond--dashed-percent, rgba(255, 255, 255, 0) 0%);
    background-position: bottom;
    background-size: 16px $filepond--border-width;
    background-repeat: repeat-x;
}

.topbottom:after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: $filepond--border-width;
	width: 100%;
	background-image: linear-gradient(
		to right,
		#7f7f7f $filepond--dashed-percent,
		rgba(255, 255, 255, 0) 0%
	);
	background-position: top;
	background-size: 11px $filepond--border-width;
	background-repeat: repeat-x;
	/* background-color:red; */
}

