.footer {
	display: flex;
	flex-direction: column;
	justify-content: center; 
	align-items: center;

	width: 100%;
    height: 10rem;
	padding: 2rem 0;
    background: #0c656e;
    // background-color: #f2f2f2;
}

.footer__text {
	color: white;
	font-size: 1.1rem;
	margin: 0 0.75rem;
}

.footer__social-icons {
    display: flex;
    align-items: center;
    justify-content: center;
	
	border-top: 1px #0e919e solid;
    padding-top: 1rem;
}

.footer__social-icon {
	height: 20px;
    margin: 0 0.5rem;
}

.footer__logo-image {
    height: 36px;
}

.footer__project-info {
	display: flex;
    align-items: center;
    margin: 1rem 0;
}
