$font-family: "Roboto", sans-serif;

$light-weight: 300;
$medium-weight: 400;
$heavy-weight: 600;

$main-color: #328EDE;
$light-main-color: #ACC5DE;
$light-transparent-main-color: rgba(172, 197, 222, 0.8);
$accent-color: #3acefc;
$gray: #979797;
$pink: #ff718b;
$text-gray: #a0a0a0;

$header--height: 3.5rem;
