$font-family: "Roboto", sans-serif;
$extra-large-font: 1.5rem; // 24px
$large-font: 1rem; // 16px
$small-font: 0.8em;
$medium-font: 0.75rem; // 12px
$med-sm-font: 0.625rem; //10px

$light-weight: 300;
$medium-weight: 400;
$heavy-weight: 600;

$main-color: #328EDE;
$light-main-color: #ACC5DE;
$light-transparent-main-color: rgba(172, 197, 222, 0.8);
$accent-color: #3acefc;
$gray: #979797;
$pink: #ff718b;
$text-gray: #a0a0a0;

$header--height: 3.5rem;
